<div class="app-header">
    <div class="app-header-inner bg-flm">

        <div class="hidden-lg hidden-md pull-left">
            <a href="" toggle-sidebar class="header-icon toggle-sidebar-btn">
                <i class="material-icons">menu</i>
            </a>
        </div>


        <div class="brand hidden-xs hidden-sm">
            <h2><a href="#/app/dashboard"><img class="logo" ng-src="{{app.logo}}"></a></h2>
        </div>

        <div class="top-nav-left hidden-xs hidden-sm">
            <ul class="list-unstyled list-inline">
                <!-- poner informacion junto al logo -->
            </ul>
        </div>
        <!-- agregar links a los botones -->
        <div class="top-nav-right">
            <ul class="list-unstyled pull-right">
                <li>
                    <md-menu md-position-mode="left bottom">
                        <md-button class="header-btn" aria-label="menu" ng-click="$mdOpenMenu($event)">
                            <i class="material-icons">event_note</i>
                            <span class="badge">3</span>
                        </md-button>
                        <md-menu-content width="4">
                            <md-list class="ui-md-list">
                                <md-list-item class="md-2-line" ng-click="null">
                                    <md-icon class="material-icons">wc</md-icon>
                                    <div class="md-list-item-text">
                                        <h3>Audiencia de conciliación</h3>
                                        <h4>Juan Carlos Barros</h4>
                                        <p>En 3 horas</p>
                                    </div>
                                </md-list-item>
                                <md-list-item class="md-2-line" ng-click="null">
                                    <md-icon class="material-icons">monetization_on</md-icon>
                                    <div class="md-list-item-text">
                                        <h3>Audiencia de insolvencia</h3>
                                        <h4>Andres Cardona</h4>
                                        <p>En 5 horas</p>
                                    </div>
                                </md-list-item>
                                <md-list-item class="md-2-line" ng-click="null">
                                    <md-icon class="material-icons">wc</md-icon>
                                    <div class="md-list-item-text">
                                        <h3>Audiencia de conciliación</h3>
                                        <h4>Maria Fernandez</h4>
                                        <p>En 6 horas</p>
                                    </div>
                                </md-list-item>
                            </md-list>
                        </md-menu-content>
                    </md-menu>
                </li>
                <li>
                    <md-menu md-position-mode="left bottom">
                        <md-button class="header-btn" aria-label="menu" ng-click="$mdOpenMenu($event)">
                            <i class="material-icons">notifications_none</i>
                            <span class="badge">3</span>
                        </md-button>
                        <md-menu-content width="4">
                            <md-list class="ui-md-list">
                                <md-list-item class="md-2-line" ng-click="null">
                                    <md-icon class="material-icons">mail_outline</md-icon>
                                    <div class="md-list-item-text">
                                        <h3>New mail from David</h3>
                                        <p>5 minutes ago</p>
                                    </div>
                                </md-list-item>
                                <md-list-item class="md-2-line" ng-click="null">
                                    <md-icon class="material-icons">chat_bubble_outline</md-icon>
                                    <div class="md-list-item-text">
                                        <h3>Message from Jane</h3>
                                        <p>15 minutes ago</p>
                                    </div>
                                </md-list-item>
                                <md-list-item class="md-2-line" ng-click="null">
                                    <md-icon class="material-icons">person_outline</md-icon>
                                    <div class="md-list-item-text">
                                        <h3>New member John joined</h3>
                                        <p>1 hour ago</p>
                                    </div>
                                </md-list-item>
                            </md-list>
                        </md-menu-content>
                    </md-menu>
                </li>
                <li>
                    <md-menu md-position-mode="target-right target">
                        <md-button class="header-btn" aria-label="menu" ng-click="$mdOpenMenu($event)">
                            <i class="material-icons">face</i>
                        </md-button>
                        <md-menu-content width="3">
                            <md-menu-item><md-button aria-label="menu" ><md-icon class="material-icons">assignment</md-icon><span>Perfil</span></md-button></md-menu-item>
                            <md-menu-item><md-button aria-label="menu" ng-click="logout()"><md-icon class="material-icons">keyboard_tab</md-icon><span>Cerrar sesión</span></md-button></md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </li>
            </ul>
        </div>

    </div>
</div>
