<ul class="nav bg-flm" 
    data-accordion-nav
    data-slim-scroll
    data-highlight-active
    data-append-sub-menu-icon
    >
    <li class="nav-header" >Menu</li>
    <li><a md-button aria-label="menu" href=""><i class="nav-icon material-icons">school</i><span class="nav-text">Aula virtual</span></a></li>
    <li>
        <a md-button aria-label="menu" href=""><i class="nav-icon material-icons">description</i><span class="nav-text">Procesos</span></a>
        <ul>
            <li><a class="prepend-icon" md-button aria-label="menu" href="#/app/conciliacion">Conciliación</a></li>
            <li><a class="prepend-icon" md-button aria-label="menu" href="">Insolvencia</span></a></li>
        </ul>
    </li>
    <li ng-if="Session.getRole() == 'admin'">
        <a md-button aria-label="menu" href=""><i class="nav-icon material-icons">business</i><span class="nav-text">Administrativo</span></a>
        <ul>
            <li><a class="prepend-icon" md-button aria-label="menu" href="#/app/admin/salas">Salas</a></li>
            <li><a class="prepend-icon" md-button aria-label="menu" href="#/app/admin/usuarios">Ususarios</span></a></li>
        </ul>
    </li>
    <!-- <li><a md-button aria-label="menu" href="#/app/widget"><i class="nav-icon material-icons">widgets</i><span class="nav-text">Widgets</span></a></li> -->
</ul>
