<nav class="app-sidebar bg-flm" ng-controller="CustomizerCtrl" auto-close-mobile-sidebar>

    <section class="sidebar-header bg-flm" >

        <span class="logo-icon material-icons">view_compact</span>
        <a href="#/" class="brand">{{::app.brand}}</a>
        <a href="" class="collapsednav-toggler" ng-click="toggleCollapsedNav()" ><i class="material-icons">{{app.togglerIconVal}}</i></a>
    </section>

    
    <section class="sidebar-content" ng-include src=" 'app/layout/sidebar-content.html' "></section>
</nav>
