<div ng-controller="ConcCreateCtlr" class="box box-default concCreate">
    <div class="box-body">
        <wizard on-finish="finished()" indicators-position="top">
            <wz-step wz-title="Info">
                <h2>Informacion de la solicitud</h2>
                <div class="ui-wizard-content">
                    <form name="infoForm" novalidate>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Solicitnte del servicio:</label>
                            <md-select ng-model="solicitude.conciliation.applicant" required>
                                <md-option ng-repeat="a in applicant" value="{{a}}">
                                    {{a}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Finalidad de adquisición del servicio:</label>
                            <md-select ng-model="solicitude.conciliation.service_goal" required>
                                <md-option ng-repeat="a in service_goal" value="{{a}}">
                                    {{a}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Cuanto tiempo lleva el conflicto:</label>
                            <md-select ng-model="solicitude.conciliation.conflict_time" required>
                                <md-option ng-repeat="a in conflict_time" value="{{a}}">
                                    {{a}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Area del derecho:</label>
                            <md-select ng-model="solicitude.conciliation.area" required>
                                <md-option ng-repeat="(area, topic) in area_topic" value="{{area}}">
                                    {{area}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Tema del derecho:</label>
                            <md-select ng-model="solicitude.conciliation.topic" required>
                                <md-option ng-repeat="(topic, subtopic) in area_topic[solicitude.conciliation.area]" value="{{topic}}">
                                    {{topic}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Subtema del derecho:</label>
                            <md-select ng-model="solicitude.conciliation.subtopic" required>
                                <md-option ng-repeat="subtopic in area_topic[solicitude.conciliation.area][solicitude.conciliation.topic]" value="{{subtopic}}">
                                    {{subtopic}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </form>
                </div>
                <div class="ui-wizard-actions">
                    <md-button type="submit" wz-next="nextStep('INFO')" class="md-raised btn-w-md md-primary" ng-disabled="!infoForm.$valid">Siguiente</md-button>
                </div>
            </wz-step>
            <wz-step wz-title="Convocantes">
                <h2>Listado de convocantes</h2>
                <div class="ui-wizard-content">
                    <div ng-repeat="c in convocantes()">
                        <div ng-if="c.involved.nature == 'natural'">
                            <h4><b>{{$index + 1}}.</b> {{c.involved.natural.first_name}} {{c.involved.natural.first_lastname}}</h4>
                        </div>
                        <div ng-if="c.involved.nature == 'juridica'">
                            <h4><b>{{$index + 1}}.</b>{{c.involved.juridical.name}}</h4>
                        </div>
                    </div>
                    <md-button class="md-raised btn-w-md md-primary" ng-click="showConvocante($event)">Agregar nuevo convocante</md-button>
                </div>
                <div class="ui-wizard-actions">
                    <md-button wz-previous=""  class="md-raised btn-w-md">Atras</md-button>
                    <md-button wz-next="nextStep(CONVOCANTES)" class="md-raised btn-w-md md-primary" ng-disabled="!convocantes_validation()">Siguiente</md-button>
                </div>
            </wz-step>
            <wz-step wz-title="convocados">
                <h2>Listado de convocados</h2>
                <div class="ui-wizard-content">
                    <div ng-repeat="c in convocados()">
                        <div ng-if="c.involved.nature == 'natural'">
                            <h4><b>{{$index + 1}}.</b> {{c.involved.natural.first_name}} {{c.involved.natural.first_lastname}}</h4>
                        </div>
                        <div ng-if="c.involved.nature == 'juridica'">
                            <h4><b>{{$index + 1}}.</b>{{c.involved.juridical.name}}</h4>
                        </div>
                    </div>
                    <md-button class="md-raised btn-w-md md-primary" ng-click="showConvocado($event)">Agregar nuevo convocado</md-button>
                </div>
                <div class="ui-wizard-actions">
                    <md-button wz-previous="logStep()"  class="md-raised btn-w-md">Atras</md-button>
                    <md-button wz-next="nextStep('CONVOCADOS')" class="md-raised btn-w-md md-primary" ng-disabled="!convocados_validation()">Siguiente</md-button>
                </div>
            </wz-step>
            <wz-step wz-title="Hechos">
                <h2>Listado de hechos</h2>
                <div class="ui-wizard-content">
                    <div ng-repeat="f in solicitude.conciliation.facts">
                        <h4><b>{{$index + 1}}. </b>{{firstN(f.description, 80)}}</h4>
                    </div>
                    <md-button class="md-raised btn-w-md md-primary" ng-click="showHecho($event)">Agregar nuevo hecho</md-button>
                </div>
                <div class="ui-wizard-actions">
                    <md-button wz-previous="logStep()"  class="md-raised btn-w-md">Atras</md-button>
                    <md-button wz-next="nextStep('HECHOS')" class="md-raised btn-w-md md-primary" ng-disabled="!hechos_validation()">Siguiente </md-button>
                </div>
            </wz-step>
            <wz-step wz-title="Pretensiones">
                <h2>Listado de pretensiones</h2>
                <div class="ui-wizard-content">
                    <div ng-repeat="p in solicitude.conciliation.pretensions">
                        <h4><b>{{$index + 1}}. </b>{{firstN(p.description, 80)}}</h4>
                    </div>
                    <md-button class="md-raised btn-w-md md-primary" ng-click="showPretension($event)">Agregar nueva pretension</md-button>
                </div>
                <div class="ui-wizard-actions">
                    <md-button wz-previous="logStep()"  class="md-raised btn-w-md">Atras</md-button>
                    <md-button wz-next="nextStep('PRETENSIONES')" class="md-raised btn-w-md md-primary" ng-disabled="!pretensiones_validation()">Siguiente </md-button>
                </div>
            </wz-step>
            <wz-step wz-title="Final">
                <h2>Fin de solicitud</h2>
                <div class="ui-wizard-content">
                    <p>Porfavor rectifique toda la solicutud, acontinuacion se llevara a la plataforma de pago del servicio de conciliacion porfavor realice el pago para hacer efectiva la solicitud</p>
                </div>
                <div class="ui-wizard-actions">
                    <md-button wz-previous="logStep()"  class="md-raised btn-w-md">Atras</md-button>
                    <md-button wz-next="logStep('PAGANDO')" class="md-raised btn-w-md md-primary">Pagar</md-button>
                </div>
            </wz-step>
        </wizard>
    </div>    
</div>