<div ng-controller="ConcCreateCtlr" class="box box-default concCreate">
    <div class="box-body">
        <wizard on-finish="finished()" indicators-position="top">
            <wz-step wz-title="Info">
                <h2>Informacion de la solicitud</h2>
                <div class="ui-wizard-content">
                    <form name="infoForm" novalidate>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Solicitnte del servicio:</label>
                            <md-select ng-model="solicitude.conciliation.applicant" required>
                                <md-option ng-repeat="a in applicant" value="{{a.value}}">
                                    {{::a.value}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Finalidad de adquisición del servicio:</label>
                            <md-select ng-model="solicitude.conciliation.service_goal" required>
                                <md-option ng-repeat="a in service_goal" value="{{a.value}}">
                                    {{::a.value}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Cuanto tiempo lleva el conflicto:</label>
                            <md-select ng-model="solicitude.conciliation.conflict_time" required>
                                <md-option ng-repeat="a in conflict_time" value="{{a.value}}">
                                    {{::a.value}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Area del derecho:</label>
                            <md-select ng-model="solicitude.conciliation.area" required>
                                <md-option ng-repeat="area in area" value="{{area.value}}">
                                    {{::area.value}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Tema del derecho:</label>
                            <md-select ng-model="solicitude.conciliation.topic" required>
                                <md-option ng-repeat="top in topic" value="{{top.value}}">
                                    {{::top.value}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Subtema del derecho:</label>
                            <md-select ng-model="solicitude.conciliation.subtopic">
                                <md-option ng-repeat="sub in subtopic" value="{{sub.value}}">
                                    {{::sub.value}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Cuantia</label>
                            <input data-ng-model="solicitude.conciliation.payment_amount" type="number" required>
                        </md-input-container>
                    </form>
                </div>
                <div class="ui-wizard-actions">
                    <md-button type="submit" wz-next="nextStep('info')" class="md-raised btn-w-md md-primary" ng-disabled="!infoForm.$valid">Siguiente</md-button>
                </div>
            </wz-step>
            <wz-step wz-title="Convocantes">
                <h2>Listado de convocantes</h2>
                <div class="ui-wizard-content">
                    <md-list>
                        <md-subheader class="md-no-sticky">Convocantes</md-subheader>
                        <md-list-item class="md-3-line" ng-repeat="conv in getConvocantes()" ng-click="editConvocante(conv, $event)">
                            <div>
                                <md-icon class="material-icons">{{getIcon(conv)}}</md-icon>
                                <div class="md-list-item-text" layout="column">
                                    <h3>{{::getName(conv)}}</h3>
                                    <h4>{{::getID(conv)}}</h4>
                                    <p>Telefono: {{::conv.involved.phone}}</p>
                                </div>
                                <md-icon class="material-icons md-secondary" aria-label="Agregar apoderado" ng-click="showApoderado(conv, $event, apoderadoEdition(conv))">business_center</md-icon>
                                <md-icon class="material-icons md-secondary" aria-label="Agregar representante" ng-click="showRepresentante(conv, $event, representanteEdition(conv))">location_city</md-icon>
                            </div>
                        </md-list-item>
                    </md-list>
                    <md-button class="md-raised btn-w-md md-primary" ng-click="showConvocante($event)">Agregar nuevo convocante</md-button>
                </div>
                <div class="ui-wizard-actions">
                    <md-button wz-previous=""  class="md-raised btn-w-md">Atras</md-button>
                    <md-button wz-next="nextStep('convocantes')" class="md-raised btn-w-md md-primary" ng-disabled="!convocantes_validation()">Siguiente</md-button>
                </div>
            </wz-step>
            <wz-step wz-title="convocados">
                <h2>Listado de convocados</h2>
                <div class="ui-wizard-content">
                    <md-subheader class="md-no-sticky">Convocados</md-subheader>
                    <md-list-item class="md-3-line" ng-repeat="conv in getConvocados()" ng-click="editConvocado(conv, $event)">
                        <div>
                            <md-icon class="material-icons md-avatar">{{getIcon(conv)}}</md-icon>
                            <div class="md-list-item-text" layout="column">
                                <h3>{{::getName(conv)}}</h3>
                                <h4>{{::getID(conv)}}</h4>
                                <p>Telefono: {{::conv.involved.phone}}</p>
                            </div>
                            <md-icon class="material-icons md-secondary" aria-label="Agregar apoderado" ng-click="showApoderado(conv, $event, apoderadoEdition(conv))">business_center</md-icon>
                            <md-icon class="material-icons md-secondary" aria-label="Agregar representante" ng-click="showRepresentante(conv, $event, representanteEdition(conv))">location_city</md-icon>
                        </div>
                    </md-list-item>
                    <md-button class="md-raised btn-w-md md-primary" ng-click="showConvocado($event)">Agregar nuevo convocado</md-button>
                </div>
                <div class="ui-wizard-actions">
                    <md-button wz-previous="logStep()"  class="md-raised btn-w-md">Atras</md-button>
                    <md-button wz-next="nextStep('convocados')" class="md-raised btn-w-md md-primary" ng-disabled="!convocados_validation()">Siguiente</md-button>
                </div>
            </wz-step>
            <wz-step wz-title="Hechos">
                <h2>Listado de hechos</h2>
                <div class="ui-wizard-content">
                    <md-subheader class="md-no-sticky">Hechos</md-subheader>
                    <md-list-item class="md-3-line" ng-repeat="f in solicitude.conciliation.facts" ng-click="editHecho(f, $event)">
                        <div>
                            <div class="md-list-item-text" layout="column">
                                <p><b>{{$index + 1}}. </b>{{::firstN(f.description, 80)}}</p>
                            </div>
                        </div>
                    </md-list-item>
                    <md-button class="md-raised btn-w-md md-primary" ng-click="showHecho($event)">Agregar nuevo hecho</md-button>
                </div>
                <div class="ui-wizard-actions">
                    <md-button wz-previous="logStep()"  class="md-raised btn-w-md">Atras</md-button>
                    <md-button wz-next="nextStep('hechos')" class="md-raised btn-w-md md-primary" ng-disabled="!hechos_validation()">Siguiente </md-button>
                </div>
            </wz-step>
            <wz-step wz-title="Pretensiones">
                <h2>Listado de pretensiones</h2>
                <div class="ui-wizard-content">
                    <md-subheader class="md-no-sticky">Pretensiones</md-subheader>
                    <md-list-item class="md-3-line" ng-repeat="p in solicitude.conciliation.pretensions" ng-click="editPretension(p, $event)">
                        <div>
                            <div class="md-list-item-text" layout="column">
                                <p><b>{{$index + 1}}. </b>{{::firstN(p.description, 80)}}</p>
                            </div>
                        </div>
                    </md-list-item>
                    <md-button class="md-raised btn-w-md md-primary" ng-click="showPretension($event)">Agregar nueva pretension</md-button>
                </div>
                <div class="ui-wizard-actions">
                    <md-button wz-previous="logStep()"  class="md-raised btn-w-md">Atras</md-button>
                    <md-button wz-next="nextStep('pretensiones')" class="md-raised btn-w-md md-primary" ng-disabled="!pretensiones_validation()">Siguiente </md-button>
                </div>
            </wz-step>
            <wz-step wz-title="Final">
                <h2>Fin de solicitud</h2>
                <div class="ui-wizard-content">
                    <p>Porfavor rectifique toda la solicutud, acontinuacion se llevara a la plataforma de pago del servicio de conciliacion porfavor realice el pago para hacer efectiva la solicitud</p>
                </div>
                <div class="ui-wizard-actions">
                    <md-button wz-previous="logStep()"  class="md-raised btn-w-md">Atras</md-button>
                    <md-button wz-next="finished()" class="md-raised btn-w-md md-primary">Pagar</md-button>
                </div>
            </wz-step>
        </wizard>
    </div>    
</div>