<div ng-controller="ConcCreateEquityCtlr" class="box box-default concCreate">
    <div class="box-body">
        <md-button class="md-icon-button md-primary" aria-label="Back" ng-click="toIndex()">
            <md-icon class="material-icons">arrow_back</md-icon>
        </md-button>
        <wizard on-finish="finished()" indicators-position="top">
            <wz-step wz-title="Info">
                <h2>Información de la solicitud</h2>
                <div class="ui-wizard-content">
                    <form name="infoForm" novalidate>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Solicitante del servicio:</label>
                            <md-select ng-model="solicitude.conciliation.applicant" required>
                                <md-option ng-repeat="a in applicant" value="{{a.value}}">
                                    {{::a.value}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Finalidad de adquisición del servicio:</label>
                            <md-select ng-model="solicitude.conciliation.service_goal" required>
                                <md-option ng-repeat="a in service_goal" value="{{a.value}}">
                                    {{::a.value}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Cuánto tiempo lleva el conflicto:</label>
                            <md-select ng-model="solicitude.conciliation.conflict_time" required>
                                <md-option ng-repeat="a in conflict_time" value="{{a.value}}">
                                    {{::a.value}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <div>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Área del derecho:</label>
                                <md-select ng-model="solicitude.conciliation.area" required>
                                    <md-option ng-repeat="area in area" value="{{area.value}}">
                                        {{::area.value}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Tema del derecho:</label>
                                <md-select ng-model="solicitude.conciliation.topic" ng-change="getSubTopic()" required>
                                    <md-option ng-repeat="top in topic" value="{{top.value}}">
                                        {{::top.value}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Cuantía</label>
                            <input data-ng-model="solicitude.conciliation.payment_amount" type="number" required>
                        </md-input-container>
                    </form>
                </div>
                <div class="ui-wizard-actions">
                    <md-button type="submit" wz-next="nextStep('info')" class="md-raised btn-w-md md-primary" ng-disabled="!infoForm.$valid">Siguiente</md-button>
                </div>
            </wz-step>
            <wz-step wz-title="Convocantes">
                <h2>Listado de convocantes</h2>
                <div class="ui-wizard-content">
                    <div class="scrolleable-content-wizard">
                        <div data-slim-scroll data-scroll-height="auto">
                            <md-list>
                                <md-subheader class="md-no-sticky">Convocantes</md-subheader>
                                <md-list-item class="md-3-line" ng-repeat="conv in getConvocantes()" ng-click="editConvocante(conv, $event)">
                                    <div>
                                        <md-icon class="material-icons">{{getIcon(conv)}}</md-icon>
                                        <div class="md-list-item-text" layout="column">
                                            <h3>{{::getName(conv)}}</h3>
                                            <p ng-if="conv.involved.assignee != null">Apoderado: {{::getARName(conv.involved.assignee)}}</p>
                                            <p ng-if="conv.involved.representative != null">Representante: {{::getARName(conv.involved.representative)}}</p>
                                        </div>
                                        <div class="md-secondary">
                                            <md-icon class="material-icons md-secondary" aria-label="Agregar apoderado" ng-click="showApoderado(conv, $event, apoderadoEdition(conv))">business_center</md-icon>
                                            Apoderado
                                        </div>
                                        <div class="md-secondary">
                                            <md-icon class="material-icons md-secondary" aria-label="Agregar representante" ng-click="showRepresentante(conv, $event, representanteEdition(conv))">location_city</md-icon>
                                            Representante Legal
                                        </div>
                                    </div>
                                </md-list-item>
                                <div style="height: 30px"></div>
                            </md-list>
                        </div>
                    </div>
                    <md-button class="md-raised btn-w-md md-primary" flex-gt-xs ng-click="showConvocante($event)">Agregar nuevo convocante</md-button>
                </div>
                <div class="ui-wizard-actions">
                    <div layout-gt-xs="row" class="layout-gt-xs-row">
                        <md-button wz-previous=""  class="md-raised btn-w-md flex-gt-xs" flex-gt-xs>Atrás</md-button>
                        <md-button wz-next="nextStep('convocantes')" class="md-raised btn-w-md md-primary flex-gt-xs" ng-disabled="!convocantes_validation()" flex-gt-xs>Siguiente</md-button>
                    </div>
                </div>
            </wz-step>
            <wz-step wz-title="convocados">
                <h2>Listado de convocados</h2>
                <div class="ui-wizard-content">
                    <div class="scrolleable-content-wizard">
                        <div data-slim-scroll data-scroll-height="auto">
                            <md-subheader class="md-no-sticky">Convocados</md-subheader>
                            <md-list-item class="md-3-line" ng-repeat="conv in getConvocados()" ng-click="editConvocado(conv, $event)">
                                    <md-icon class="material-icons">{{getIcon(conv)}}</md-icon>
                                    <div class="md-list-item-text" layout="column">
                                        <h3>{{::getName(conv)}}</h3>
                                        <p ng-if="conv.involved.assignee != null">Apoderado: {{::getARName(conv.involved.assignee)}}</p>
                                        <p ng-if="conv.involved.representative != null">Representante: {{::getARName(conv.involved.representative)}}</p>
                                    </div>
                                    <div class="md-secondary">
                                        <md-icon class="material-icons md-secondary" aria-label="Agregar apoderado" ng-click="showApoderado(conv, $event, apoderadoEdition(conv))">business_center</md-icon>
                                        Apoderado
                                    </div>
                                    <div class="md-secondary">
                                        <md-icon class="material-icons md-secondary" aria-label="Agregar representante" ng-click="showRepresentante(conv, $event, representanteEdition(conv))">location_city</md-icon>
                                        Representante Legal
                                    </div>
                            </md-list-item>
                            <div style="height: 30px"></div>
                        </div>
                    </div>
                    <md-button class="md-raised btn-w-md md-primary" flex-gt-xs ng-click="showConvocado($event)">Agregar nuevo convocado</md-button>
                </div>
                <div class="ui-wizard-actions">
                    <div layout-gt-xs="row" class="layout-gt-xs-row">
                        <md-button wz-previous=""  class="md-raised btn-w-md flex-gt-xs" flex-gt-xs>Atrás</md-button>
                        <md-button wz-next="nextStep('convocantes')" class="md-raised btn-w-md md-primary flex-gt-xs" ng-disabled="!convocantes_validation()" flex-gt-xs>Siguiente</md-button>
                    </div>
                </div>
            </wz-step>
            <wz-step wz-title="Hechos">
                <h2>Listado de hechos</h2>
                <div class="ui-wizard-content">
                    <div class="scrolleable-content-wizard">
                        <div data-slim-scroll data-scroll-height="auto">
                            <md-subheader class="md-no-sticky">Hechos</md-subheader>
                            <md-list-item class="md-3-line" ng-repeat="f in solicitude.conciliation.facts" ng-click="editHecho(f, $event)">
                                <div>
                                    <div class="md-list-item-text" layout="column">
                                        <p><b>{{$index + 1}}. </b>{{::firstN(f.description, 80)}}</p>
                                    </div>
                                </div>
                            </md-list-item>
                            <div style="height: 30px"></div>
                        </div>
                    </div>
                    <md-button class="md-raised btn-w-md md-primary" ng-click="showHecho($event)">Agregar nuevo hecho</md-button>
                </div>
                <div class="ui-wizard-actions">
                    <div layout-gt-xs="row" class="layout-gt-xs-row">
                        <md-button wz-previous=""  class="md-raised btn-w-md flex-gt-xs" flex-gt-xs>Atrás</md-button>
                        <md-button wz-next="nextStep('convocantes')" class="md-raised btn-w-md md-primary flex-gt-xs" ng-disabled="!convocantes_validation()" flex-gt-xs>Siguiente</md-button>
                    </div>
                </div>
            </wz-step>
            <wz-step wz-title="Pretensiones">
                <h2>Listado de pretensiones</h2>
                <div class="ui-wizard-content">
                    <div class="scrolleable-content-wizard">
                        <div data-slim-scroll data-scroll-height="auto">
                            <md-subheader class="md-no-sticky">Pretensiones</md-subheader>
                            <md-list-item class="md-3-line" ng-repeat="p in solicitude.conciliation.pretensions" ng-click="editPretension(p, $event)">
                                <div>
                                    <div class="md-list-item-text" layout="column">
                                        <p><b>{{$index + 1}}. </b>{{::firstN(p.description, 80)}}</p>
                                    </div>
                                </div>
                            </md-list-item>
                            <div style="height: 30px"></div>
                        </div>
                    </div>
                    <md-button class="md-raised btn-w-md md-primary" ng-click="showPretension($event)">Agregar nueva pretensión</md-button>
                </div>
                <div class="ui-wizard-actions">
                    <div layout-gt-xs="row" class="layout-gt-xs-row">
                        <md-button wz-previous=""  class="md-raised btn-w-md flex-gt-xs" flex-gt-xs>Atrás</md-button>
                        <md-button wz-next="nextStep('convocantes')" class="md-raised btn-w-md md-primary flex-gt-xs" ng-disabled="!convocantes_validation()" flex-gt-xs>Siguiente</md-button>
                    </div>
                </div>
            </wz-step>
            <!-- <wz-step wz-title="Fundamentos">
                <h2>Fundamentos del derecho</h2>
                <div class="ui-wizard-content">
                    <div class="scrolleable-content-wizard">
                        <div data-slim-scroll data-scroll-height="auto">
                            <md-subheader class="md-no-sticky">Fundamentos del derecho</md-subheader>
                            <md-list-item class="md-3-line" ng-repeat="p in solicitude.conciliation.pretensions" ng-click="editPretension(p, $event)">
                                <div>
                                    <div class="md-list-item-text" layout="column">
                                        <p><b>{{$index + 1}}. </b>{{::firstN(p.description, 80)}}</p>
                                    </div>
                                </div>
                            </md-list-item>
                            <div style="height: 30px"></div>
                        </div>
                    </div>
                    <md-button class="md-raised btn-w-md md-primary" ng-click="showPretension($event)">Agregar nueva pretensión</md-button>
                </div> -->
                <div class="ui-wizard-actions">
                    <div layout-gt-xs="row" class="layout-gt-xs-row">
                        <md-button wz-previous=""  class="md-raised btn-w-md flex-gt-xs" flex-gt-xs>Atrás</md-button>
                        <md-button wz-next="nextStep('convocantes')" class="md-raised btn-w-md md-primary flex-gt-xs" ng-disabled="!convocantes_validation()" flex-gt-xs>Siguiente</md-button>
                    </div>
                </div>
            </wz-step>
            <wz-step wz-title="Pruebas">
                <h2>Anexos y pruebas</h2>
                <div class="scrolleable-content-wizard">
                    <div data-slim-scroll data-scroll-height="auto">
                        <md-subheader class="md-no-sticky">Pruebas</md-subheader>
                        <md-list-item class="md-3-line" ng-repeat="p in proofs" ng-click="showProof(p)">
                            <div class="md-list-item-text" layout="column">
                                <p><b>{{::$index + 1}}. </b>{{::p.name}}</p>
                            </div>
                        </md-list-item>
                        <div style="height: 30px"></div>
                    </div>
                </div>
                <!-- <md-button class="md-raised btn-w-md md-primary" ng-click="showProofCreate($event)">Subir pruebas</md-button> -->
                <md-button class="md-raised btn-w-md md-primary" ngf-select="uploadFiles($files)" multiple="multiple">Subir pruebas</md-button>
                <div class="ui-wizard-actions">
                    <div layout-gt-xs="row" class="layout-gt-xs-row">
                        <md-button wz-previous=""  class="md-raised btn-w-md flex-gt-xs" flex-gt-xs>Atrás</md-button>
                        <md-button wz-next="nextStep('convocantes')" class="md-raised btn-w-md md-primary flex-gt-xs" ng-disabled="!convocantes_validation()" flex-gt-xs>Siguiente</md-button>
                    </div>
                </div>
            </wz-step>
            <wz-step wz-title="Final">
                <h2>Fin de solicitud</h2>
                <div class="ui-wizard-content">
                    <p>Por favor rectifique toda la solicutud. A continuación, se le llevará a la plataforma de audiencia para continuar con la solicitud.</p>
                </div>
                <div class="ui-wizard-actions">
                    <div layout-gt-xs="row" class="layout-gt-xs-row">
                        <md-button wz-previous=""  class="md-raised btn-w-md flex-gt-xs" flex-gt-xs>Atrás</md-button>
                        <md-button wz-next="nextStep('convocantes')" class="md-raised btn-w-md md-primary flex-gt-xs" ng-disabled="!convocantes_validation()" flex-gt-xs>Siguiente</md-button>
                    </div>
                </div>
            </wz-step>
        </wizard>
    </div>    
</div>