<div ng-controller="ConcCreateCtlr" class="box box-default concCreate">
    <div class="box-body">
        <md-button class="md-icon-button md-primary" aria-label="Back" ng-click="toIndex()">
            <md-icon class="material-icons">arrow_back</md-icon>
        </md-button>
        <wizard on-finish="finished()" indicators-position="top">
            <wz-step wz-title="Info">
                <h4>Información de la Solicitud</h4>
                <div class="ui-wizard-content">
                    <form name="infoForm" novalidate>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Solicitante del servicio:</label>
                            <md-select ng-model="solicitude.conciliation.applicant" required>
                                <md-option ng-repeat="a in applicant" value="{{a.value}}">
                                    {{::a.value}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Finalidad de adquisición del servicio:</label>
                            <md-select ng-model="solicitude.conciliation.service_goal" required>
                                <md-option ng-repeat="a in service_goal" value="{{a.value}}">
                                    {{::a.value}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Cuánto tiempo lleva el conflicto:</label>
                            <md-select ng-model="solicitude.conciliation.conflict_time" required>
                                <md-option ng-repeat="a in conflict_time" value="{{a.value}}">
                                    {{::a.value}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-checkbox ng-model="solicitude.conciliation.definable" aria-label="¿Esta solicitud cuenta con un asunto juridico definible?">Asunto jurídico definible</md-checkbox>
                        <div>
                            <md-input-container class="md-block" flex-gt-sm ng-if="solicitude.conciliation.definable">
                                <label>Área del derecho:</label>
                                <md-select ng-model="solicitude.conciliation.area" required ng-change="getArea()"> 
                                    <md-option ng-repeat="area in area" value="{{area.value}}">
                                        {{::area.value}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm ng-if="!solicitude.conciliation.definable">
                                <label>Área del derecho:</label>
                                <md-select ng-model="solicitude.conciliation.area" required ng-change="getAreaNot()">
                                    <md-option ng-repeat="area in areanot" value="{{area.value}}">
                                        {{::area.value}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Tema del derecho:</label>
                                <md-select ng-model="solicitude.conciliation.topic" ng-change="getSubTopic()" ng-change="getArea()" required>
                                    <md-option ng-repeat="top in topic" value="{{top.value}}">
                                        {{::top.value}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Subtema del derecho:</label>
                                <md-select ng-model="solicitude.conciliation.subtopic" ng-disabled="!subtopicValid">
                                    <md-option ng-repeat="sub in subtopic" value="{{sub.value}}">
                                        {{::sub.value}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <md-checkbox ng-model="cuantia.indeterminada" aria-label="La cuantia de esta solicitud de indeterminada">Cuantia indeterminada?</md-checkbox>
                        <md-input-container class="md-block" ng-if="!cuantia.indeterminada" flex-gt-sm>
                            <label>Cuantía</label>
                            <input data-ng-model="solicitude.conciliation.payment_amount" type="number" required>
                        </md-input-container>
                    </form>
                </div>
                <div class="ui-wizard-actions">
                    <md-button type="submit" wz-next="nextStep('info')" class="md-raised btn-w-md md-primary" ng-disabled="!infoForm.$valid">Siguiente</md-button>
                </div>
            </wz-step>
            <wz-step wz-title="Convocantes">
                <h4>Listado de Convocantes</h4>
                <div ng-if="getGlobalAR('convocante', 'assignee') != null">
                    <md-list-item class="md-3-line">
                            <div class="md-list-item-text" layout="column">
                                <h3>Apoderado global</h3>
                                <h3 class="cap">{{::getARName(getGlobalAR('convocante', 'assignee'))}}</h3>
                                <p>E-mail: {{::getGlobalAR('convocante', 'assignee').email}}</p>
                                <p>Teléfono: {{::getGlobalAR('convocante', 'assignee').email}}</p>
                            </div>
                    </md-list-item> 
                </div>
                <md-button ng-click="showGlobalAssignee($event)" class="md-raised btn-w-md md-primary">Apoderado Global</md-button>
                <div ng-if="getGlobalAR('convocante', 'representative') != null">
                    <md-list-item class="md-3-line">
                            <div class="md-list-item-text" layout="column">
                                <h3>Representante legal global</h3>
                                <h3 class="cap">{{::getARName(getGlobalAR('convocante', 'representative'))}}</h3>
                                <p>E-mail: {{::getGlobalAR('convocante', 'representative').email}}</p>
                                <p>Teléfono: {{::getGlobalAR('convocante', 'representative').email}}</p>
                            </div>
                    </md-list-item> 
                </div>
                <md-button ng-click="showGlobalRepresentative($event)" class="md-raised btn-w-md md-primary">Representante Global</md-button>
                <div class="ui-wizard-content">
                    <div class="scrolleable-content-wizard">
                        <div data-slim-scroll data-scroll-height="auto">
                            <md-list>
                                <md-subheader class="md-no-sticky">Convocantes</md-subheader>
                                <md-list-item class="md-3-line" ng-repeat="conv in getConvocantes()" ng-click="editConvocante(conv, $event)">
                                        <md-icon class="material-icons">{{getIcon(conv)}}</md-icon>
                                        <div class="md-list-item-text" layout="column">
                                            <h3>{{::getName(conv)}}</h3>
                                            <p>Postulante: {{conv.postulant}}</p>
                                            <p ng-if="conv.involved.assignee != null">Apoderado: {{::getARName(conv.involved.assignee)}}</p>
                                            <p ng-if="conv.involved.representative != null">Representante: {{::getARName(conv.involved.representative)}}</p>
                                        </div>
                                        <md-button title="Postulante" aria-label="Agregar o editar apoderado a este involucardo" class="md-icon-button md-secondary" ng-click="showPostulant(conv, $event)">
                                            <md-icon >assignment_ind</md-icon>
                                            <div class="icon-caption">Postulante</div>
                                        </md-button>
                                        <md-button title="Postulante" aria-label="Agregar o editar representante legal a este involucardo" class="md-icon-button md-secondary" ng-click="showApoderado(conv, $event, apoderadoEdition(conv))">
                                            <md-icon >business_center</md-icon>
                                            <div class="icon-caption">Apoderado</div>
                                        </md-button>
                                        <md-button title="Postulante" aria-label="Modificar el postulante a este involucardo" class="md-icon-button md-secondary" ng-click="showRepresentante(conv, $event, representanteEdition(conv))">
                                            <md-icon >location_city</md-icon>
                                            <div class="icon-caption">Representante Legal</div>
                                        </md-button>
                                </md-list-item>
                                <div style="height: 30px"></div>
                            </md-list>
                        </div>
                    </div>
                    <md-button class="md-raised btn-w-md md-primary" flex-gt-xs ng-click="showConvocante($event)">Agregar nuevo convocante</md-button>
                </div>
                <div class="ui-wizard-actions">
                    <div layout-gt-xs="row" class="layout-gt-xs-row">
                        <md-button wz-previous=""  class="md-raised btn-w-md flex-gt-xs" flex-gt-xs>Atrás</md-button>
                        <md-button wz-next="nextStep('convocantes')" class="md-raised btn-w-md md-primary flex-gt-xs" ng-disabled="!convocantes_validation()" flex-gt-xs>Siguiente</md-button>
                    </div>
                </div>
            </wz-step>
            <wz-step wz-title="convocados">
                <h4>Listado de Convocados</h4>
                <div ng-if="getGlobalAR('convocado', 'assignee') != null">
                    <md-list-item class="md-3-line">
                            <div class="md-list-item-text" layout="column">
                                <h3>Apoderado global</h3>
                                <h3 class="cap">{{::getARName(getGlobalAR('convocado', 'assignee'))}}</h3>
                                <p>E-mail: {{::getGlobalAR('convocado', 'assignee').email}}</p>
                                <p>Teléfono: {{::getGlobalAR('convocado', 'assignee').email}}</p>
                            </div>
                    </md-list-item> 
                </div>
                <md-button ng-click="showGlobalAssignee($event)" class="md-raised btn-w-md md-primary">Apoderado Global</md-button>
                <div ng-if="getGlobalAR('convocado', 'representative') != null">
                    <md-list-item class="md-3-line">
                            <div class="md-list-item-text" layout="column">
                                <h3>Representante legal global</h3>
                                <h3 class="cap">{{::getARName(getGlobalAR('convocado', 'representative'))}}</h3>
                                <p>E-mail: {{::getGlobalAR('convocado', 'representative').email}}</p>
                                <p>Teléfono: {{::getGlobalAR('convocado', 'representative').email}}</p>
                            </div>
                    </md-list-item> 
                </div>
                <md-button ng-click="showGlobalRepresentative($event)" class="md-raised btn-w-md md-primary">Representante Global</md-button>
                <div class="ui-wizard-content">
                    <div class="scrolleable-content-wizard">
                        <div data-slim-scroll data-scroll-height="auto">
                            <md-subheader class="md-no-sticky">Convocados</md-subheader>
                            <md-list-item class="md-3-line" ng-repeat="conv in getConvocados()" ng-click="editConvocado(conv, $event)">
                                    <md-icon class="material-icons">{{getIcon(conv)}}</md-icon>
                                        <div class="md-list-item-text" layout="column">
                                            <h3>{{::getName(conv)}}</h3>
                                            <p>Postulante: {{conv.postulant}}</p>
                                            <p ng-if="conv.involved.assignee != null">Apoderado: {{::getARName(conv.involved.assignee)}}</p>
                                            <p ng-if="conv.involved.representative != null">Representante: {{::getARName(conv.involved.representative)}}</p>
                                        </div>
                                        <md-button title="Postulante" aria-label="Agregar o editar apoderado a este involucardo" class="md-icon-button md-secondary" ng-click="showPostulant(conv, $event)">
                                            <md-icon >assignment_ind</md-icon>
                                            <div class="icon-caption">Postulante</div>
                                        </md-button>
                                        <md-button title="Postulante" aria-label="Agregar o editar representante legal a este involucardo" class="md-icon-button md-secondary" ng-click="showApoderado(conv, $event, apoderadoEdition(conv))">
                                            <md-icon >business_center</md-icon>
                                            <div class="icon-caption">Apoderado</div>
                                        </md-button>
                                        <md-button title="Postulante" aria-label="Modificar el postulante a este involucardo" class="md-icon-button md-secondary" ng-click="showRepresentante(conv, $event, representanteEdition(conv))">
                                            <md-icon >location_city</md-icon>
                                            <div class="icon-caption">Representante Legal</div>
                                        </md-button>
                            </md-list-item>
                            <div style="height: 30px"></div>
                        </div>
                    </div>
                    <md-button class="md-raised btn-w-md md-primary" flex-gt-xs ng-click="showConvocado($event)">Agregar nuevo convocado</md-button>
                </div>
                <div class="ui-wizard-actions">
                    <div layout-gt-xs="row" class="layout-gt-xs-row">
                        <md-button wz-previous=""  class="md-raised btn-w-md flex-gt-xs" flex-gt-xs>Atrás</md-button>
                        <md-button wz-next="nextStep('convocantes')" class="md-raised btn-w-md md-primary flex-gt-xs" ng-disabled="!convocantes_validation()" flex-gt-xs>Siguiente</md-button>
                    </div>
                </div>
            </wz-step>
            <wz-step wz-title="Hechos">
                <h4>Listado de Hechos</h4>
                <div class="ui-wizard-content">
                    <div class="scrolleable-content-wizard">
                        <div data-slim-scroll data-scroll-height="auto">
                            <md-subheader class="md-no-sticky">Hechos</md-subheader>
                            <md-list-item class="md-3-line" ng-repeat="f in solicitude.conciliation.facts" ng-click="editHecho(f, $event)">
                                <div>
                                    <div class="md-list-item-text" layout="column">
                                        <p><b>{{$index + 1}}. </b>{{::firstN(f.description, 80)}}</p>
                                    </div>
                                </div>
                            </md-list-item>
                            <div style="height: 30px"></div>
                        </div>
                    </div>
                    <md-button class="md-raised btn-w-md md-primary" ng-click="showHecho($event)">Agregar nuevo hecho</md-button>
                </div>
                <div class="ui-wizard-actions">
                    <div layout-gt-xs="row" class="layout-gt-xs-row">
                        <md-button wz-previous=""  class="md-raised btn-w-md flex-gt-xs" flex-gt-xs>Atrás</md-button>
                        <md-button wz-next="nextStep('convocantes')" class="md-raised btn-w-md md-primary flex-gt-xs" ng-disabled="!convocantes_validation()" flex-gt-xs>Siguiente</md-button>
                    </div>
                </div>
            </wz-step>
            <wz-step wz-title="Pretensiones">
                <h4>Listado de Pretensiones</h4>
                <div class="ui-wizard-content">
                    <div class="scrolleable-content-wizard">
                        <div data-slim-scroll data-scroll-height="auto">
                            <md-subheader class="md-no-sticky">Pretensiones</md-subheader>
                            <md-list-item class="md-3-line" ng-repeat="p in solicitude.conciliation.pretensions" ng-click="editPretension(p, $event)">
                                <div>
                                    <div class="md-list-item-text" layout="column">
                                        <p><b>{{$index + 1}}. </b>{{::firstN(p.description, 80)}}</p>
                                    </div>
                                </div>
                            </md-list-item>
                            <div style="height: 30px"></div>
                        </div>
                    </div>
                    <md-button class="md-raised btn-w-md md-primary" ng-click="showPretension($event)">Agregar nueva pretensión</md-button>
                </div>
                <div class="ui-wizard-actions">
                    <div layout-gt-xs="row" class="layout-gt-xs-row">
                        <md-button wz-previous=""  class="md-raised btn-w-md flex-gt-xs" flex-gt-xs>Atrás</md-button>
                        <md-button wz-next="nextStep('convocantes')" class="md-raised btn-w-md md-primary flex-gt-xs" ng-disabled="!convocantes_validation()" flex-gt-xs>Siguiente</md-button>
                    </div>
                </div>
            </wz-step>
            <wz-step wz-title="Fundamentos">
                <h4>Fundamentos del derecho</h4>
                <div class="ui-wizard-content">
                    <div class="scrolleable-content-wizard">
                        <div data-slim-scroll data-scroll-height="auto">
                            <md-subheader class="md-no-sticky">Fundamentos del derecho</md-subheader>
                            <md-list-item class="md-3-line" ng-repeat="p in fundamentals" ng-click="editFundamental(p, $event)">
                                <div>
                                    <div class="md-list-item-text" layout="column">
                                        <p><b>{{$index + 1}}. </b>{{::firstN(p.description, 80)}}</p>
                                    </div>
                                </div>
                            </md-list-item>
                            <div style="height: 30px"></div>
                        </div>
                    </div>
                    <md-button class="md-raised btn-w-md md-primary" ng-click="showFundamental($event)">Agregar nuevo fundamento</md-button>
                </div> 
                <div class="ui-wizard-actions">
                    <div layout-gt-xs="row" class="layout-gt-xs-row">
                        <md-button wz-previous=""  class="md-raised btn-w-md flex-gt-xs" flex-gt-xs>Atrás</md-button>
                        <md-button wz-next="nextStep('convocantes')" class="md-raised btn-w-md md-primary flex-gt-xs" ng-disabled="!convocantes_validation()" flex-gt-xs>Siguiente</md-button>
                    </div>
                </div>
            </wz-step>
            <wz-step wz-title="Pruebas">
                <h4>Anexos y Pruebas</h4>
                <div class="scrolleable-content-wizard">
                    <div data-slim-scroll data-scroll-height="auto">
                        <md-subheader class="md-no-sticky">Pruebas</md-subheader>
                        <md-list-item class="md-3-line" ng-repeat="p in proofs" ng-click="showProof(p, $event)">
                            <div class="md-list-item-text" layout="column">
                                <p><b>{{::$index + 1}}. </b>{{::p.name}}</p>
                            </div>
                        </md-list-item>
                        <div style="height: 30px"></div>
                    </div>
                </div>
                <md-button class="md-raised btn-w-md flex-gt-xs" ng-click="showProofCreate($event)">Subir pruebas</md-button>
                <!-- <md-button class="md-raised btn-w-md md-primary" ngf-select="uploadFiles($files)" multiple="multiple">Subir pruebas</md-button> -->
                <div class="ui-wizard-actions">
                    <div layout-gt-xs="row" class="layout-gt-xs-row">
                        <md-button wz-previous=""  class="md-raised btn-w-md flex-gt-xs" flex-gt-xs>Atrás</md-button>
                        <md-button wz-next="nextStep('convocantes')" class="md-raised btn-w-md md-primary flex-gt-xs" ng-disabled="!convocantes_validation()" flex-gt-xs>Siguiente</md-button>
                    </div>
                </div>
            </wz-step>
            <wz-step wz-title="Final">
                <h4>Fin de Solicitud</h4>
                <div class="ui-wizard-content">
                    <p>Por favor rectifique toda la solicutud. A continuación, se le llevará a la plataforma de pago del servicio de conciliación. Por favor realice el pago para hacer efectiva la solicitud</p>
                </div>
                <div class="ui-wizard-actions">
                    <div layout-gt-xs="row" class="layout-gt-xs-row">
                        <md-button wz-previous=""  class="md-raised btn-w-md flex-gt-xs" flex-gt-xs>Atrás</md-button>
                        <md-button wz-next="finished()" class="md-raised btn-w-md md-primary flex-gt-xs" ng-disabled="!convocantes_validation()" flex-gt-xs>Pagar</md-button>
                    </div>
                </div>
            </wz-step>
        </wizard>
    </div>    
</div>