<div class="col-md-4" ng-if="getIndex() || !mobile">
    <div ng-if="Session.getRole() != 'coordinator' && Session.getRole() != 'admin'" >
        <md-button class="md-fab add_button" aria-label="Iniciar nueva conciliación"style="background-color: #8DCEE0;" ng-click="openCreate($event)">+</md-button>
    </div>
    <div class="box box-default">
        <div class="index_area">
            <h2 class="title">Conciliaciones</h2>
            <md-input-container class="md-block" flex-gt-sm>
                <label for="search">Buscar</label>
                <input class="ng-pristine ng-valid md-input ng-empty ng-touched" id="search" ng-model="busqueda">
            </md-input-container>
            <div class="scrolleable-content">
                <div data-slim-scroll data-scroll-height="auto">
                    <div ng-repeat="conc in data" class="md-whiteframe-5dp content">
                        <div class="card_display_conc" ng-click="toShow(conc)">
                            <div class="box box-default">
                                <div class="box-header box_name index_name"><b>{{getConvNames($index)}}</b> <wbr>14 Días</div>
                                <div class="box-body box_content">
                                    <h5>Estado: {{getState(conc)}}</h5>
                                    <div class="col-sm-12 barra-prog"><md-progress-linear md-mode="determinate" value="14" aria-valuemin="0" aria-valuemax="90"></md-progress-linear></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="height: 30px"></div>
                </div>
            </div>
        </div>
        <div class="divider divider-lg divider-dashed"></div>
        <div class="row" style="padding-left:10%;">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <md-button class="btn-w-md md-accent" data-ng-click="switchState(1)">Activas</md-button><div class="divider divider-xs"></div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <md-button class="btn-w-md md-primary" data-ng-click="switchState(2)">Archivo</md-button><div class="divider divider-xs"></div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-8" ng-if="(!getIndex() && mobile) || !mobile">
    <ui-view name="show">
    </ui-view>
</div>