<div class="col-md-5" ng-if="getIndex() || !mobile">
    <div ng-if="Session.getRole() != 'coordinator' && Session.getRole() != 'admin' && Session.getRole() != 'conciliator'" >
        <md-button class="md-fab add_button" aria-label="Iniciar nueva conciliación" style="background-color: #8DCEE0;" ng-click="openCreate($event)">+</md-button>
    </div>
    <div class="box box-default md-whiteframe-12dp">
        <div class="index_area">
            <h3 class="title">Conciliaciones</h3>
            <div layout-gt-xs="row" class="layout-gt-xs-row">
                <md-input-container class="flex-gt-xs" flex-gt-xs>
                    <label>Tipo de busqueda</label>
                    <md-select ng-model="busqueda.searchType" required>
                            <md-option ng-repeat="type in types" value="{{type.value}}">
                                {{::type.text}}
                            </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="flex-gt-xs" ng-if="busqueda.searchType == 'case_number' || busqueda.searchType == 'involved'" flex-gt-xs>
                    <label>Busqueda</label>
                    <input input-num ng-model="busqueda.searchContent.value" type="text">
                </md-input-container>
                <div ng-if="busqueda.searchType == 'date'">
                    <label>Fecha de Inicio</label>
                    <md-datepicker ng-model="busqueda.searchContent.start" placeholder="Fecha de nacimiento" required></md-datepicker>
                    <label>Fecha de Fin</label>
                    <md-datepicker ng-model="busqueda.searchContent.end" placeholder="Fecha de nacimiento" required></md-datepicker>
                </div>
                <md-input-container class="flex-gt-xs" ng-if="busqueda.searchType != null" flex-gt-xs>
                    <md-button class="md-raised btn-w-md md-primary" ng-click="search()">Buscar</md-button>
                </md-input-container>
            </div>
            <div class="scrolleable-content">
                <div data-slim-scroll data-scroll-height="auto">
                    <div ng-repeat="conc in data" class="md-whiteframe-5dp content">
                        <div ng-click="toShow(conc)">
                            <div class="box ">
                                <div class="box-body">
                                    <div class=" box_name cap"><b>{{getConvNames($index)}}</b></div>
                                    <div class="box_content">
                                        <h6 class="cap">{{getConvoNames($index)}}</h6>
                                        <p>Estado: {{getState(conc)}}</p>
                                        <div class="col-sm-12 barra-prog"><md-progress-linear md-mode="determinate" value="{{progress(conc)}}" aria-valuemin="0" aria-valuemax="100"></md-progress-linear></div>
                                    </div>
                                    <div ng-if="estado == 'borrador'">
                                        <md-button class="md-icon-button md-warn position_top_left" ng-click="deleteSolicitude(conc)" aria-label="Eliminar solicitud">
                                            <md-icon class="material-icons">delete_forever</md-icon>
                                        </md-button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row"  ng-if="moreAvailable">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <md-button class="btn-w-md md-accent" data-ng-click="nextPage()">Mostrar Mas</md-button><div class="divider divider-xs"></div>
                        </div>
                    </div>
                    <div style="height: 30px"></div>
                </div>
            </div>
        </div>
        <div class="divider divider-lg divider-dashed"></div>
        <div layout-gt-xs="row" class="layout-gt-xs-row centered">
            <div class="flex-gt-xs" flex-gt-xs>
                <md-button class="btn-w-md md-accent" data-ng-click="indexType('activo')">Activas</md-button><div class="divider divider-xs"></div>
            </div>
            <div class="flex-gt-xs" flex-gt-xs>
                <md-button class="btn-w-md md-primary" data-ng-click="indexType('archivo')">Archivo</md-button><div class="divider divider-xs"></div>
            </div>
            <div class="flex-gt-xs" flex-gt-xs ng-if="Session.getRole() != 'conciliator' && Session.getRole() != 'coordinator'">
                <md-button class="btn-w-md md-primary" data-ng-click="indexType('borrador')">Borrador</md-button><div class="divider divider-xs"></div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-7" ng-if="(!getIndex() && mobile) || !mobile">
    <ui-view name="show">
    </ui-view>
</div>
