
    <div class="box box-default show-scroll">
        <div class="show_content" data-slim-scroll data-scroll-height="auto">
            <h2>Solicitud de conciliacion No.1342</h2>
            <h3>{{conc.state.toUpperCase()}}</h3>
            <h4><b>Convocantes</b></h4>
            <md-list-item class="md-3-line" ng-repeat="conv in getConvocantes()" ng-click="null">
                <div class="showParticipant(conv, $event)">
                    <md-icon class="material-icons">{{getIcon(conv)}}</md-icon>
                    <div class="md-list-item-text" layout="column">
                        <h3>{{getName(conv)}}</h3>
                        <h4>{{getID(conv)}}</h4>
                        <p>Telefono: {{conv.involved.phone}}</p>
                    </div>
                </div>
            </md-list-item>
            <h4><b>Convocados</b></h4>
            <md-list-item class="md-3-line" ng-repeat="conv in getConvocados()" ng-click="null">
                <div ng-click="showParticipant(conv, $event)">
                    <md-icon class="material-icons">{{getIcon(conv)}}</md-icon>
                    <div class="md-list-item-text" layout="column">
                        <h3>{{getName(conv)}}</h3>
                        <h4>{{getID(conv)}}</h4>
                        <p>Telefono: {{conv.involved.phone}}</p>
                    </div>
                </div>
            </md-list-item>
            <h4><b>Hechos</b></h4>
            <div class="infoContainer">
                <div ng-repeat="hecho in conc.conciliation.facts">
                    <p><b>{{$index + 1}}.</b> {{hecho.description}}</p>
                </div>
            </div>
            <h4><b>Pretensiones</b></h4>
            <div ng-repeat="pret in conc.conciliation.pretensions">
                <div class="infoContainer">
                    <p><b>{{$index + 1}}.</b> {{pret.description}}</p>
                </div>
            </div>
            <h3><b>Cuantia</b> $ {{conc.payment_amount}}</h3>
            <!-- <section class="box box-default">
                <div class="box-body no-padding">                
                    <md-tabs md-selected="selectedIndex" md-border-bottom md-autoselect>
                        <md-tab ng-repeat="tab in tabs"
                                ng-disabled="tab.disabled"
                                label="{{tab.title}}">
                            <div class="tab{{$index}}" style="padding: 25px; text-align: center;">
                                <div ng-repeat="item in tab.info">
                                    <ul>
                                        <div ng-bind="item.nombre" ng-click="click()"></div>
                                    </ul>
                                </div>
                                <br/>
                            </div>
                        </md-tab>
                    </md-tabs> 
                </div>
            </section> -->
        </div>
    </div>

