
    <div class="box box-default show-scroll">
        <div class="show_content" data-slim-scroll data-scroll-height="auto">
            <div class="row">
                <md-button class="md-icon-button md-primary" aria-label="Back" ng-if="mobile" ng-click="switchIndex()">
                                <md-icon class="material-icons">arrow_back</md-icon>
                </md-button>
                <h2>{{getConvNames()}}</h2>
            </div>
            <div class="barra-prog"><md-progress-linear md-mode="determinate" value="14" aria-valuemin="0" aria-valuemax="90"></md-progress-linear></div>
            <h5 class="estado">Estado {{conc.state}}</h5>
            <h4><b>Hechos</b></h4>
            <div class="infoContainer">
                <div ng-repeat="hecho in conc.conciliation.facts">
                    <p><b>{{$index + 1}}.</b> {{hecho.description}}</p>
                </div>
            </div>
            <h4><b>Pretensiones</b></h4>
            <div ng-repeat="pret in conc.conciliation.pretensions">
                <div class="infoContainer">
                    <p><b>{{$index + 1}}.</b> {{pret.description}}</p>
                </div>
            </div>
            <h3><b>Cuantia</b> $ cuantia por servidor</h3>
            <!-- <section class="box box-default">
                <div class="box-body no-padding">                
                    <md-tabs md-selected="selectedIndex" md-border-bottom md-autoselect>
                        <md-tab ng-repeat="tab in tabs"
                                ng-disabled="tab.disabled"
                                label="{{tab.title}}">
                            <div class="tab{{$index}}" style="padding: 25px; text-align: center;">
                                <div ng-repeat="item in tab.info">
                                    <ul>
                                        <div ng-bind="item.nombre" ng-click="click()"></div>
                                    </ul>
                                </div>
                                <br/>
                            </div>
                        </md-tab>
                    </md-tabs> 
                </div>
            </section> -->
        </div>
    </div>

