<md-toolbar>
  <div class="md-toolbar-tools scio-bar">
    <h2>Convocante</h2>
    <span flex></span>
    <md-button class="md-icon-button" ng-click="cancel()">
      <md-icon class="material-icons">close</md-icon>
    </md-button>
  </div>
</md-toolbar>
<md-dialog-content class="modal_form">
    <form name="userForm" novalidate ng-submit="submitForm()">
        <fieldset>
            <div layout-gt-xs="row" class="layout-gt-xs-row">
                <md-input-container class="flex-gt-xs" flex-gt-xs>
                    <label>Nombre</label>
                    <input ng-model="user.name" type="text" required>
                </md-input-container>
            </div>
            <div layout-gt-xs="row" class="layout-gt-xs-row">
                <md-input-container class="flex-gt-xs" flex-gt-xs>
                    <label>Primer apellido</label>
                    <input ng-model="user.first_lastname" type="text" required>
                </md-input-container>
                <md-input-container class="flex-gt-xs" flex-gt-xs>
                    <label>Segundo apellido</label>
                    <input ng-model="user.second_lastname" type="text" required>
                </md-input-container>
            </div>
            <div layout-gt-xs="row" class="layout-gt-xs-row">
                <md-input-container class="flex-gt-xs" flex-gt-xs>
                    <label>Numero de cedula</label>
                    <input ng-model="user.identification_card" type="number">
                </md-input-container>
                <md-input-container class="flex-gt-xs" flex-gt-xs>
                    <label>Ciudad de expedición</label>
                    <md-select ng-model="user.identifier_expedition_city">
                        <md-option ng-repeat="g in all_cities" value="{{g.value}}">
                            {{::g.value}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div layout-gt-xs="row" class="layout-gt-xs-row">
                <md-input-container class="flex-gt-xs" flex-gt-xs>
                    <label>País de origen</label>
                    <md-select ng-model="user.origin_country">
                        <md-option ng-repeat="g in countries" value="{{g.value}}">
                            {{::g.value}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="flex-gt-xs" flex-gt-xs>
                    <label>Fecha de nacimiento</label>
                    <md-datepicker ng-model="user.birthdate" placeholder="Fecha de nacimiento" required></md-datepicker>
                </md-input-container>
            </div>
            <div layout-gt-xs="row" class="layout-gt-xs-row">
                <md-input-container class="flex-gt-xs" flex-gt-xs>
                    <label>Dirección de residencia</label>
                    <input ng-model="user.notification_address" type="text" >
                </md-input-container>
                <md-input-container class="flex-gt-xs" flex-gt-xs>
                    <label>Estrato</label>
                    <md-select ng-model="user.strata" >
                        <md-option ng-repeat="c in estratos" value="{{c.value}}">
                            {{::c.value}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div layout-gt-xs="row" class="layout-gt-xs-row">
                <md-input-container class="flex-gt-xs" flex-gt-xs>
                    <label>Departamento</label>
                    <md-select ng-model="user.department" ng-change="getCities()" >
                        <md-option ng-repeat="g in departments" value="{{g.value}}">
                            {{::g.value}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="flex-gt-xs" flex-gt-xs>
                    <label>Ciudad</label>
                    <md-select ng-model="user.city" >
                        <md-option ng-repeat="g in cities" value="{{g.value}}">
                            {{::g.value}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div layout-gt-xs="row" class="layout-gt-xs-row">
                <md-input-container class="flex-gt-xs" flex-gt-xs>
                    <label>Celular de contacto</label>
                    <input input-num ng-model="user.cell_phone" data-ng-minlength=7 type="number" >
                </md-input-container>
            </div>
            <div layout-gt-xs="row" class="layout-gt-xs-row">
                <md-input-container class="flex-gt-xs" flex-gt-xs>
                    <label>Telefono de contacto</label>
                    <input ng-model="user.phone" data-ng-minlength=7 type="number" required>
                </md-input-container>
                <md-input-container class="flex-gt-xs" flex-gt-xs>
                    <label>E-mail</label>
                    <input ng-model="user.email" type="email" required>
                </md-input-container>
            </div>
            <div ng-if="user.role == 'conciliator'">
                <div layout-gt-xs="row" class="layout-gt-xs-row">
                    <md-input-container class="flex-gt-xs" flex-gt-xs>
                        <label>Numero de tarjeta profesional</label>
                        <input ng-model="user.professional_card" type="number" required>
                    </md-input-container>
                </div>
            </div>
            <div ng-if="user.role == 'conciliator_in_equity'">
                <div layout-gt-xs="row" class="layout-gt-xs-row">
                    <md-input-container class="flex-gt-xs" flex-gt-xs>
                        <label>Resolución</label>
                        <input ng-model="user.resolution" type="text">
                    </md-input-container>
                    <md-input-container class="flex-gt-xs" flex-gt-xs>
                        <label>Entidad formadora</label>
                        <input ng-model="user.training_entity" type="text">
                    </md-input-container>
                </div>
                <div layout-gt-xs="row" class="layout-gt-xs-row">
                    <md-input-container class="flex-gt-xs" flex-gt-xs>
                        <label>Entidad nominadora</label>
                        <input ng-model="user.nominating_entity" type="text">
                    </md-input-container>
                    <md-input-container class="flex-gt-xs" flex-gt-xs>
                        <label>Punto de atención de la conciliación en equidad (PACE)</label>
                        <input ng-model="user.pace" type="text">
                    </md-input-container>
                </div>
                <div layout-gt-xs="row" class="layout-gt-xs-row">
                    <md-input-container class="flex-gt-xs" flex-gt-xs>
                        <label>Dirección PACE</label>
                        <input ng-model="user.pace_address" type="text">
                    </md-input-container>
                </div>
            </div>
            <br>
        </fieldset>
    </form>
</md-dialog-content>
<md-dialog-actions>
    <md-button class="md-raised btn-w-md" ng-click="cancel()">Cancelar</md-button>
    <md-button class="md-raised btn-w-md md-primary" ng-click="save('Exito')" ng-disabled="!userForm.$valid">Agregar</md-button>  
</md-dialog-actions>