
<div slim-scroll>
    <div class="compose-btn-container">
        <md-button class="md-accent md-raised btn-block" aria-label="compose"
                   ng-click="vm.composeDialog($event)">COMPOSE
        </md-button>
    </div>

    <md-list>
        <md-list-item ng-click="null">
            <md-icon class="material-icons">inbox</md-icon>
            <p>Inbox</p>
        </md-list-item>
        <md-list-item ng-click="null">
            <md-icon class="material-icons">star</md-icon>
            <p>Starred</p>
        </md-list-item>
        <md-list-item ng-click="null">
            <md-icon class="material-icons">send</md-icon>
            <p>Sent</p>
        </md-list-item>
        <md-list-item ng-click="null">
            <md-icon class="material-icons">drafts</md-icon>
            <p>Drafts</p>
        </md-list-item>
        <md-list-item ng-click="null">
            <md-icon class="material-icons">block</md-icon>
            <p>Spam</p>
        </md-list-item>
        <md-list-item ng-click="null">
            <md-icon class="material-icons">delete</md-icon>
            <p>Trash</p>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item ng-click="null">
            <md-icon class="material-icons color-info">bookmark_border</md-icon>
            <p>Work</p>
        </md-list-item>
        <md-list-item ng-click="null">
            <md-icon class="material-icons color-success">bookmark_border</md-icon>
            <p>Family</p>
        </md-list-item>
        <md-list-item ng-click="null">
            <md-icon class="material-icons color-warning">bookmark_border</md-icon>
            <p>Todo</p>
        </md-list-item>
        <md-list-item ng-click="null">
            <md-icon class="material-icons color-danger">bookmark_border</md-icon>
            <p>Misc</p>
        </md-list-item>
    </md-list>
</div>
