.title{
    padding-left: 4%;
    padding-top: 5%;
    font-weight: bold;
}
.show_title{
    padding-left: 10px;
    background: #485058;
    color: white;
}
.cal_color{
    color: black;
}
.fc-time{
    color: black;
}
.fc-title{
    color: black;
}
.box_name{
    font-size: 1.5em;
    padding-top: 0px;
    padding-bottom: 0px;
}
.box-body{
    h6{
        margin-top: 5px;
        margin-bottom: 5px;
    }
}
.card_days{
    margin-top: 0px;
}

.scrolleable-content {
    height: 62vh;
    overflow: hidden;
}

.scrolleable-content-aud {
    height: 65vh;
    overflow: hidden;
}

.scrolleable-content-wizard {
    height: 38vh;
    overflow: hidden;
}

.scrolleable-content-signup {
    height: 40vh;
    overflow: hidden;
}

.barra-prog {
    padding: 3px 0px;
}

.show-scroll{
    height: 88vh;
    overflow: hidden;
    margin: 25px 10px 0px 5px;
    
    h2{
        margin-top: 0px;
    }
}
.content {
    margin: auto 5px;
    color: #646E7A;
    &:first-child {
        margin-top: 20px;
    }

    h5{
        margin-top: 0px;
        margin-bottom: 0px;
    }
}
.add_button {
    float:right;
    transform: translate(-50%, 1290%);
    //no funciona
    background-color: #8DCEE0;
}

@media (max-height: 900px){
    .add_button {
        float:right;
        transform: translate(-50%, 830%);
        //no funciona
        background-color: #8DCEE0;
    }
    .scrolleable-content {
        height: 50vh;
    }
}

@media (max-width: 795px){
    .add_button {
        float:right;
        transform: translate(-50%, 830%);
        //no funciona
        background-color: #8DCEE0;
    }
    .scrolleable-content {
        height: 47vh;
        overflow: hidden;
    }
}

.index_area{
    color: #485058;
}

.show_content{
    padding: 40px;
    color: #485058;

    .estado{
        padding-top: 0px;
        padding-bottom: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-left: 4%;
    }

    h2{
        font-size: 3em;
        font-weight: bold;
    }
}

.infoContainer{
    padding-left: 30px;

    p{
        color: #646E7A;
    }

    b{
        color: #485058;
        font-size: 1.5em;
    }
}

.concCreate{
    margin: 30px;
    padding: 10px;
}

//Fix select on md-dialog
.md-select-menu-container {
    z-index: 99999 !important;
}

.md-datepicker-calendar-pane{
    z-index: 99999 !important;
}
.modal_form{
    padding: 30px;
}

.index_name{
    line-height: 1.2;
}

