.box_content{
    padding: 20px;
}
.box_name{
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 0px;
}
.card_days{
    margin-top: 0px;
}

.scrolleable-content {
    height: 62vh;
    overflow: hidden;
}

.barra-prog {
    padding: 20px 0px;
}

.show-scroll{
    height: 88vh;
    overflow: hidden;
    margin: 25px 10px 0px 5px;
    
    h2{
        margin-top: 0px;
    }
}
.content {
    margin: auto 5px;
    &:first-child {
        margin-top: 20px;
    }
}
.add_button {
    float:right;
    transform: translate(-50%, 1290%);
    //no funciona
    background-color: #8DCEE0;
}

@media (max-height: 900px){
    .add_button {
        float:right;
        transform: translate(-50%, 830%);
        //no funciona
        background-color: #8DCEE0;
    }
    .scrolleable-content {
        height: 50vh;
    }
}

@media (max-width: 795px){
    .add_button {
        float:right;
        transform: translate(-50%, 830%);
        //no funciona
        background-color: #8DCEE0;
    }
    .scrolleable-content {
        height: 47vh;
        overflow: hidden;
    }
}

.show_content{
    padding: 40px;
}