*{
	font-family: 'flm_font', 'Helvetica', 'Roboto';
}

@font-face {
	font-family: "flm_font";
	src: url('/styles/dev/font-Medium.otf');
}

progress {
  background: #ffffff;
  color: #ffffff;
  border: 0;
  height: 18px;
  border-radius: 9px;
}


.horizontal_align{
	
	ul {
	    text-align: justify;
	}
	ul:after {
	    content: '';
	    display: inline-block;
	    width: 100%;
	}
	ul:before {
	    content: '';
	    display: block;
	    margin-top: -1.25em;
	}
	li {
	    display: inline-block;
	    margin-right: -.25em;
	    position: relative;
	    top: 1.25em;
	}
}

md-dialog{
	min-width: 70%;
}

.large-form-field{
	display: inline-block;
    width:50%;
}

.scio-bar{
	background-color: #485058;
}

