@font-face {
	font-family: "flm_font";
	src: url('/styles/dev/font-Medium.otf');
}
*{
	font-family: 'flm_font', 'Helvetica', 'Roboto';
}

progress {
  background: #ffffff;
  color: #ffffff;
  border: 0;
  height: 18px;
  border-radius: 9px;
}

.position_top_left{
	position: absolute;
    top: 4px;
    right: 4px;
}
.centered{
	margin-left: 5%;
	margin-right: auto;
}
.user-auth-body{
	background-image: url('/assets/images/BG.png');
	background-size: auto;
    height: 100%;
    width: 100%;
    position: fixed;
}

.user-auth-content{
	overflow-y: auto;
	position: relative;
}
.app-page-container .app-content-wrapper .app-content{
	padding-bottom: 0px;
}

.horizontal_align{

	ul {
	    text-align: justify;
	}
	ul:after {
	    content: '';
	    display: inline-block;
	    width: 100%;
	}
	ul:before {
	    content: '';
	    display: block;
	    margin-top: -1.25em;
	}
	li {
	    display: inline-block;
	    margin-right: -.25em;
	    position: relative;
	    top: 1.25em;
	}
}

md-dialog{
	min-width: 70%;
}

.large-form-field{
	display: inline-block;
    width:50%;
}

.scio-bar{
	background-color: #485058;
}
input[type=text] {
    border: none;
    border-bottom: 1px solid #e0e0e0;
}
.md-button.md-icon-button{
	border-radius: 0%;
	width:auto;
	padding: 0px;
	line-height: 1;
}
.md-button .icon-caption{
	text-transform: none;
	text-rendering: optimizeLegibility;
}
md-dialog-actions{
	padding: 20px;
}

.cap{
	text-transform: capitalize;
}
.just{
	text-align: justify;
	text-justufy: auto;
}
