.signUp{
    margin: 50px;
    padding: 50px;

    figure{
        padding: 0% 0%;
        img{
            width: 10%;
        }
    }

    h5{
        text-align: center;
    }
}

.login{
    margin: 10% 20%;
    padding: 50px;
    figure{
        padding: 0% 30%;
        img{
            width: 100%;
        }
    }
    p{
        display: table;
        margin: 0 auto;
    }
    md-button{
        text-align: center;
        display: table;
        margin: 0 auto;
    }
}

.options{
    text-align: center;
    font-size: 1.5em;
    color: #424242;
}
.error{
    text-align: center;
    font-size: 1em;
    color: red;
}