.signUp{
    margin: 50px;
    padding: 50px;

    figure{
        padding: 0% 30%;
        img{
            width: 100%;
        }
    }

    h5{
        text-align: center;
    }
}

.login{
    margin: 10% 20%;
    padding: 50px;
    figure{
        padding: 0% 30%;
        img{
            width: 100%;
        }
    }
}

.options{
    text-align: center;
    font-size: 1.5em;
    color: #424242;
    padding: 0% 35%;
}
.error{
    text-align: center;
    font-size: 1em;
    color: red;
}