<div class="col-md-6" ng-if="getIndex() || !mobile">
    <div class="box box-default">
        <div class="index_area" style="padding: 10px;">
            <h2>Audiencia</h2>

            <div class="scrolleable-content-aud">
                <div data-slim-scroll data-scroll-height="auto">
                    <div ng-if="asistencia">
                        <h4><b>Llamado a lista</b></h4>
                        <md-list-item class="md-3-line" ng-repeat="conv in audience.attendances">
                            <div class="md-list-item-text" layout="column">
                                <h3>{{conv.entity_name}}</h3>
                                <md-checkbox class="md-secondary" aria-label="assist" ng-model="conv.attendance" ng-if="asistencia"></md-checkbox>
                            </div>
                        </md-list-item>
                        <md-button class="btn-w-md md-accent" ng-click="saveAssist()" ng-if="asistencia">Guardar listado de asistencia</md-button>
                    </div>
                    <div>
                    <h4><b>Comentarios</b></h4>
                        <md-input-container class="md-block">
                            <label>Comentarios</label>
                            <textarea ng-model="audience.comment" rows="5" md-select-on-focus></textarea>
                        </md-input-container>
                        <md-checkbox ng-model="audience.show_comment_on_document" aria-label="Mostrar comentarios">¿Mostrar comentarios en el documento?</md-checkbox>
                        <md-button class="btn-w-md md-accent" ng-click="saveComment()">Guardar comentarios</md-button>
                    </div>
                </div>
            </div>
        </div>
        <div class="divider divider-lg divider-dashed"></div>
        <div class="row" style="padding-left:10%;">
            <div >
                <md-button class="btn-w-md md-warn" data-ng-click="showResults()" >Finalizar audiencia</md-button><div class="divider divider-xs"></div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-6" ng-if="(!getIndex() && mobile) || !mobile">
    <div class="box box-default show-scroll">
        <div class="show_content" data-slim-scroll data-scroll-height="auto">
            <h2>Solicitud de conciliación No.1342</h2>
            <h3>{{getState()}}</h3>

            <h4 class="show_title"><b>Convocantes</b></h4>
            <md-list-item class="md-3-line" ng-repeat="conv in getConvocantes()" ng-click="showParticipant(conv, $event)">
                    <md-icon class="material-icons">{{getIcon(conv)}}</md-icon>
                    <div class="md-list-item-text" layout="column">
                        <h3>{{::getName(conv)}}</h3>
                        <p>Postulante: {{conv.postulant}}</p>
                        <p ng-if="conv.involved.assignee != null">Apoderado: {{::getARName(conv.involved.assignee)}}</p>
                        <p ng-if="conv.involved.representative != null">Representante: {{::getARName(conv.involved.representative)}}</p>
                    </div>
                    <md-button title="Postulante, esta será la persona que firme los documentos por parte de este involucrado" aria-label="Postulante" class="md-icon-button md-secondary" ng-click="showPostulant(conv, $event)">
                        <md-icon >assignment_ind</md-icon>
                        <div class="icon-caption">Postulante</div>
                    </md-button>
                    <md-button title="Agregar o editar el apoderado de este involucrado" aria-label="Postulante" class="md-icon-button md-secondary" ng-click="showApoderado(conv, $event, apoderadoEdition(conv))">
                        <md-icon >business_center</md-icon>
                        <div class="icon-caption">Apoderado</div>
                    </md-button>
                    <md-button title="Agregar o editar el representante legal de este involucrado" aria-label="Postulante" class="md-icon-button md-secondary" ng-click="showRepresentante(conv, $event, representanteEdition(conv))">
                        <md-icon >location_city</md-icon>
                        <div class="icon-caption">Representante Legal</div>
                    </md-button>
            </md-list-item>
            <h4 class="show_title"><b>Convocados</b></h4>
            <md-list-item class="md-3-line" ng-repeat="conv in getConvocados()" ng-click="showParticipant(conv, $event)">
                <md-icon class="material-icons">{{getIcon(conv)}}</md-icon>
                <div class="md-list-item-text" layout="column">
                    <h3>{{::getName(conv)}}</h3>
                    <p>Postulante: {{conv.postulant}}</p>
                    <p ng-if="conv.involved.assignee != null">Apoderado: {{::getARName(conv.involved.assignee)}}</p>
                    <p ng-if="conv.involved.representative != null">Representante: {{::getARName(conv.involved.representative)}}</p>
                </div>
                <md-button title="Postulante, esta será la persona que firme los documentos por parte de este involucrado" aria-label="Postulante" class="md-icon-button md-secondary" ng-click="showPostulant(conv, $event)">
                    <md-icon >assignment_ind</md-icon>
                    <div class="icon-caption">Postulante</div>
                </md-button>
                <md-button title="Agregar o editar el apoderado de este involucrado" aria-label="Postulante" class="md-icon-button md-secondary" ng-click="showApoderado(conv, $event, apoderadoEdition(conv))">
                    <md-icon >business_center</md-icon>
                    <div class="icon-caption">Apoderado</div>
                </md-button>
                <md-button title="Agregar o editar el representante legal de este involucrado" aria-label="Postulante" class="md-icon-button md-secondary" ng-click="showRepresentante(conv, $event, representanteEdition(conv))">
                    <md-icon >location_city</md-icon>
                    <div class="icon-caption">Representante Legal</div>
                </md-button>
            </md-list-item>
            <h4 class="show_title"><b>Hechos</b></h4>
            <div class="infoContainer">
                <div ng-repeat="hecho in conc.conciliation.facts">
                    <p><b>{{$index + 1}}.</b> {{hecho.description}}</p>
                </div>
            </div>
            <h4 class="show_title"><b>Pretensiones</b></h4>
            <div ng-repeat="pret in conc.conciliation.pretensions">
                <div class="infoContainer">
                    <p><b>{{$index + 1}}.</b> {{pret.description}}</p>
                </div>
            </div>
            <h4 class="show_title"><b>Fundamentos del derecho</b></h4>
            <div ng-repeat="pret in fundamentals">
                <div class="infoContainer">
                    <p><b>{{$index + 1}}.</b> {{pret.description}}</p>
                </div>
            </div>
            <h4 class="show_title"><b>Anexos y pruebas</b></h4>
            <md-list-item class="md-2-line" ng-repeat="p in proofs" ng-click="showProof(p, $event)">
                <p><b>{{$index + 1}}.</b> {{p.name}}</p>
            </md-list-item>
            <h4 class="show_title"><b>Documentos</b></h4>
            <md-list-item class="md-2-line" ng-repeat="d in documents" ng-click="showDocument(d)">
                <p><b>{{$index + 1}}.</b> {{d.name}}</p>
            </md-list-item>
            <h3><b>Cuantía</b> {{cuantia(conc.conciliation.payment_amount)}}</h3>
            <div style="height: 30px"></div>
        </div>
    </div>
</div>
