<md-toolbar>
  <div class="md-toolbar-tools scio-bar">
    <h4>Convocado</h4>
    <span flex></span>
    <md-button class="md-icon-button" ng-click="cancel()">
      <md-icon class="material-icons">close</md-icon>
    </md-button>
  </div>
</md-toolbar>
<md-dialog-content class="modal_form">
    <form name="convocadoForm">
        <h4>Convocado</h4>
        <div class="ui-wizard-content">
            <div layout-gt-xs="row" class="layout-gt-xs-row">
                <md-input-container class="flex-gt-xs" flex-gt-xs ng-if="!edit">
                    <label>Tipo de convocado</label>
                    <md-select ng-model="involucrado.involved.nature" ng-if="!edit" required>
                        <md-option ng-repeat="c in convtype" value="{{c.value}}">
                            {{::involvedType(c.value)}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div ng-if="involucrado.involved.nature == 'natural'">
                <fieldset>
                    <h4>Datos de identificación</h4>
                    <div ng-if="!showVerification()">
                        <div layout-gt-xs="row" class="layout-gt-xs-row">
                            <md-input-container class="flex-gt-xs" flex-gt-xs>
                                <label>Tipo de documento</label>
                                <md-select ng-model="involucrado.involved.natural.identifier_type" required>
                                        <md-option ng-repeat="type in idType" value="{{type.value}}" requiered>
                                            {{::type.value}}
                                        </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container class="flex-gt-xs" flex-gt-xs>
                                <label>Número de identificación</label>
                                <input input-num ng-model="involucrado.involved.natural.identifier" type="number" data-ng-minlength=3 ng-disabled="!involucrado.involved.natural.identifier_type" required>
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row" class="layout-gt-xs-row">
                            <md-input-container class="flex-gt-xs" flex-gt-xs>
                                <button class="md-raised btn-w-md md-primary md-button md-ink-ripple" ng-click="findInvolved()">Verificar</button>
                            </md-input-container>
                        </div>
                    </div>
                    <div ng-if="verify_click">
                        <div layout-gt-xs="row" class="layout-gt-xs-row">
                            <md-input-container class="flex-gt-xs" flex-gt-xs ng-if="!edit">
                                <angucomplete-alt id="ex1"
                                  placeholder="Ciudad de expedición"
                                  pause="100"
                                  selected-object="involucrado.involved.natural.identifier_expedition_city"
                                  local-data="all_cities"
                                  search-fields="value"
                                  title-field="value"
                                  minlength="1"
                                  field-required="true"
                                  input-class="form-control form-control-small flex-gt-xs "
                                  flex-gt-xs/>
                            </md-input-container>

                            <md-input-container class="flex-gt-xs" flex-gt-xs ng-if="!edit">
                                <angucomplete-alt id="ex1"
                                  placeholder="País de origen"
                                  pause="100"
                                  selected-object="involucrado.involved.natural.origin_country"
                                  local-data="countries"
                                  search-fields="value"
                                  title-field="value"
                                  minlength="1"
                                  field-required="true"
                                  input-class="form-control form-control-small flex-gt-xs "
                                  flex-gt-xs/>
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row" class="layout-gt-xs-row">
                            <md-input-container class="flex-gt-xs" flex-gt-xs>
                                <label>Primer nombre</label>
                                <input data-ng-model="involucrado.involved.natural.first_name" type="text" required>
                            </md-input-container>
                            <md-input-container class="flex-gt-xs" flex-gt-xs>
                                <label>Segundo nombre</label>
                                <input data-ng-model="involucrado.involved.natural.second_name" type="text">
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row" class="layout-gt-xs-row">
                            <md-input-container class="flex-gt-xs" flex-gt-xs>
                                <label>Primer apellido</label>
                                <input data-ng-model="involucrado.involved.natural.first_lastname" type="text" required>
                            </md-input-container>
                            <md-input-container class="flex-gt-xs" flex-gt-xs>
                                <label>Segundo apellido</label>
                                <input data-ng-model="involucrado.involved.natural.second_lastname" type="text" required>
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row" class="layout-gt-xs-row">
                            <md-input-container class="flex-gt-xs" flex-gt-xs>
                                <label>Género</label>
                                <md-select ng-model="involucrado.involved.natural.gender" required>
                                    <md-option ng-repeat="g in gender" value="{{g.value}}" requiered>
                                        {{::g.value}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <label>Fecha de nacimiento</label>
                            <md-datepicker ng-model="involucrado.involved.natural.birthdate" placeholder="Fecha de nacimiento" ng-required="true"></md-datepicker>
                        </div>
                        <h4>Información de contacto</h4>
                        <div layout-gt-xs="row" class="layout-gt-xs-row">
                            <md-input-container class="flex-gt-xs" flex-gt-xs>
                                <label>Dirección de residencia</label>
                                <input ng-model="involucrado.involved.address" type="text" required>
                            </md-input-container>
                            <md-input-container class="flex-gt-xs" flex-gt-xs>
                                <label>Estrato</label>
                                <md-select ng-model="involucrado.involved.natural.strata" required>
                                    <md-option ng-repeat="c in estratos" value="{{c.value}}" requiered>
                                        {{::c.value}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row" class="layout-gt-xs-row">
                            <md-input-container class="flex-gt-xs" flex-gt-xs>
                                <label>Departamento</label>
                                <md-select ng-model="involucrado.involved.department" required>
                                    <md-option ng-repeat="g in departments" value="{{g.value}}" requiered>
                                        {{::g.value}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container class="flex-gt-xs" flex-gt-xs>
                                <label>Ciudad</label>
                                <md-select ng-model="involucrado.involved.city" required>
                                    <md-option ng-repeat="g in cities" value="{{g.value}}" requiered>
                                        {{::g.value}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row" class="layout-gt-xs-row">
                            <md-input-container class="flex-gt-xs" flex-gt-xs>
                                <label>Teléfono de contacto</label>
                                <input input-num ng-model="involucrado.involved.phone" data-ng-minlength=7 type="number" required>
                            </md-input-container>
                            <md-input-container class="flex-gt-xs" flex-gt-xs>
                                <label>E-mail</label>
                                <input data-ng-model="involucrado.involved.email" type="email" required>
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row" class="layout-gt-xs-row">
                            <md-input-container class="flex-gt-xs" flex-gt-xs>
                                <label>Página web</label>
                                <input data-ng-model="involucrado.involved.web_site" type="text">
                            </md-input-container>
                        </div>
                        <h4>Datos de estudio</h4>
                        <div layout-gt-xs="row" class="layout-gt-xs-row">
                            <md-input-container class="flex-gt-xs" flex-gt-xs>
                                <label>Nivel escolar: </label>
                                <md-select ng-model="involucrado.involved.natural.scholarly_level" required>
                                    <md-option ng-repeat="c in level" value="{{::c.value}}" requiered>
                                        {{::c.value}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <h4>Datos de profesión</h4>
                        <div layout-gt-xs="row" class="layout-gt-xs-row">
                            <md-input-container class="flex-gt-xs col-sm-6" flex-gt-xs>
                                <angucomplete-alt id="ex1"
                                  placeholder="Nombre de la profesión:"
                                  pause="100"
                                  selected-object="profession.name"
                                  local-data="profession_name"
                                  search-fields="value"
                                  title-field="value"
                                  minlength="4"
                                  input-class="form-control form-control-small flex-gt-xs "
                                  flex-gt-xs/>
                            </md-input-container>
                            <md-input-container class="flex-gt-xs" flex-gt-xs>
                                <label>Institución: </label>
                                <md-select ng-model="profession.institution">
                                    <md-option ng-repeat="c in profession_institution" value="{{::c.value}}" >
                                        {{::c.value}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row" class="layout-gt-xs-row">
                            <md-input-container class="flex-gt-xs" flex-gt-xs>
                                <label>Tarjeta profesional</label>
                                <input input-num ng-model="profession.professional_card" type="number">
                            </md-input-container>
                            <label>Fecha de graduación</label>
                            <md-datepicker ng-model="profession.graduation_date" placeholder="Fecha de graduación"></md-datepicker>
                        </div>
                        <div layout-gt-xs="row" class="layout-gt-xs-row">
                            <md-input-container class="flex-gt-xs" flex-gt-xs>
                                <label>Entidad emisora del titulo</label>
                                <input ng-model="profession.issuing_entity" type="text">
                            </md-input-container>
                        </div>
                        <md-button class="md-raised btn-w-md md-primary" ng-click="addProfession(involucrado.involved.id, 'involved')">Agregar profesión</md-button>

                        <div data-slim-scroll data-scroll-height="250px">
                            <md-subheader class="md-no-sticky">Profesiones</md-subheader>
                            <md-list-item class="md-3-line" ng-repeat="p in professions">
                                    <div class="md-list-item-text" layout="column">
                                        <h3 ng-if="edit">{{::p.name}}</h3>
                                        <h3 ng-if="!edit">{{::p.name.title}}</h3>
                                        <p>Institución: {{::p.institution}}</p>
                                    </div>
                                    <div class="md-secondary">
                                        <md-icon class="material-icons md-secondary" aria-label="Agregar apoderado" ng-click="deleteProfession($index, 'involved', involucrado.involved.id)">delete_forever</md-icon>
                                    </div>
                            </md-list-item>
                            <div style="height: 30px"></div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div ng-if="involucrado.involved.nature == 'juridico'">
                 <fieldset>
                    <h4>Datos de identificación</h4>
                    <div ng-if="!showVerification()">
                        <div layout-gt-xs="row" class="layout-gt-xs-row">
                            <md-input-container class="flex-gt-xs" flex-gt-xs>
                                <label>NIT</label>
                                <input ng-model="involucrado.involved.juridical.nit" type="number" required>
                            </md-input-container>
                            <md-input-container class="flex-gt-xs" flex-gt-xs>
                                <button class="md-raised btn-w-md md-primary md-button md-ink-ripple" ng-click="findInvolved()">Verificar</button>
                            </md-input-container>
                        </div>
                    </div>
                    <div ng-if="verify_click">
                        <div layout-gt-xs="row" class="layout-gt-xs-row">
                            <md-input-container class="flex-gt-xs" flex-gt-xs>
                                <label>Nombre</label>
                                <input ng-model="involucrado.involved.juridical.name" type="text" required>
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row" class="layout-gt-xs-row">
                            <md-input-container class="flex-gt-xs" flex-gt-xs>
                                <label>Sector económico</label>
                                <md-select ng-model="involucrado.involved.juridical.economic_sector" required>
                                    <md-option ng-repeat="g in economic_sector" value="{{::g.value}}" requiered>
                                        {{::g.value}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container class="flex-gt-xs" flex-gt-xs>
                                <label>Tipo de organización</label>
                                <md-select ng-model="involucrado.involved.juridical.organization_type" required>
                                    <md-option ng-repeat="g in org_type" value="{{::g.value}}" requiered>
                                        {{::g.value}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row" class="layout-gt-xs-row" ng-if="involucrado.involved.juridical.organization_type == 'ORGANIZACIÓN PÚBLICA'">
                            <md-input-container class="flex-gt-xs" flex-gt-xs>
                                <label>Tipo de entidad publica</label>
                                <md-select ng-model="involucrado.involved.juridical.type_of_public_entity" required>
                                    <md-option ng-repeat="g in public_type" value="{{::g.value}}" requiered>
                                        {{::g.value}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <h4>Información de contacto</h4>
                        <div layout-gt-xs="row" class="layout-gt-xs-row">
                            <md-input-container class="flex-gt-xs" flex-gt-xs>
                                <label>Dirección judicial</label>
                                <input ng-model="involucrado.involved.address" type="text" required>
                            </md-input-container>
                            <md-input-container class="flex-gt-xs" flex-gt-xs>
                                <label>País de origen</label>
                                <md-select ng-model="involucrado.involved.juridical.origin_country" required>
                                    <md-option ng-repeat="g in countries" value="{{g.value}}" requiered>
                                        {{::g.value}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row" class="layout-gt-xs-row">
                            <md-input-container class="flex-gt-xs" flex-gt-xs>
                                <label>Departamento</label>
                                <md-select ng-model="involucrado.involved.department" required>
                                    <md-option ng-repeat="g in departments" value="{{g.value}}" requiered>
                                        {{::g.value}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container class="flex-gt-xs" flex-gt-xs>
                                <label>Ciudad</label>
                                <md-select ng-model="involucrado.involved.city" required>
                                    <md-option ng-repeat="g in cities" value="{{g.value}}" requiered>
                                        {{::g.value}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row" class="layout-gt-xs-row">
                            <md-input-container class="flex-gt-xs" flex-gt-xs>
                                <label>E-mail</label>
                                <input data-ng-model="involucrado.involved.email" type="email" required>
                            </md-input-container>
                            <md-input-container class="flex-gt-xs" flex-gt-xs>
                                <label>Teléfono de contacto</label>
                                <input ng-model="involucrado.involved.phone" data-ng-minlength=7 type="number" required>
                            </md-input-container>
                        </div>
                    </div>
                 </fieldset>
            </div>
        </div>
    </form>
</md-dialog-content>
<md-dialog-actions>
    <md-button class="md-raised btn-w-md" ng-click="cancel()">Cancelar</md-button>
    <md-button class="md-raised btn-w-md md-primary" ng-click="save('Exito')" ng-disabled="!convocadoForm.$valid || !verify_click">{{getButtonLable()}}</md-button>
</md-dialog-actions>
