<div class="modal_form">
    <md-dialog-content>
        <form name="convocanteForm">
            <h2>Convocante</h2>
            <div class="ui-wizard-content">
                <md-input-container class="md-block" ng-if="!edit"> 
                    <label>Tipo de convocante</label>
                    <md-select ng-model="involucrado.involved.nature" ng-if="!edit" required>
                        <md-option ng-repeat="c in convtype" value="{{c.value}}">
                            {{c.value}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <div ng-if="involucrado.involved.nature == 'natural'">
                    <fieldset>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Primer nombre</label>
                            <input data-ng-model="involucrado.involved.natural.first_name" type="text" required>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Segundo nombre</label>
                            <input data-ng-model="involucrado.involved.natural.second_name" type="text" required>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Primer apellido</label>
                            <input data-ng-model="involucrado.involved.natural.first_lastname" type="text" required>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Segundo apellido</label>
                            <input data-ng-model="involucrado.involved.natural.second_lastname" type="text" required>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Género</label>
                            <md-select ng-model="involucrado.involved.natural.gender" required>
                                <md-option ng-repeat="g in gender" value="{{g.value}}" requiered>
                                    {{g.value}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <label>Fecha de nacimiento</label>
                        <md-datepicker ng-model="involucrado.involved.natural.birthdate" placeholder="Fecha de nacimiento" required></md-datepicker>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>E-mail</label>
                            <input data-ng-model="involucrado.involved.email" type="email" required>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Página web</label>
                            <input data-ng-model="involucrado.involved.web_site" type="text">
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Teléfono de contacto</label>
                            <input input-num ng-model="involucrado.involved.phone" data-ng-minlength=7 type="number" required>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Tipo de documento</label>
                            <md-select ng-model="involucrado.involved.natural.identifier_type" required>
                                <div ng-if="g.id != 1416">
                                    <md-option ng-repeat="type in idType" value="{{type.value}}" requiered>
                                        {{::type.value}}
                                    </md-option>
                                </div>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Ciudad de expedición</label>
                            <md-select ng-model="involucrado.involved.natural.identifier_expedition_city" required>
                                <md-option ng-repeat="c in all_cities" value="{{c.value}}" requiered>
                                    {{::c.value}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Número de identificación</label>
                            <input input-num ng-model="involucrado.involved.natural.identifier" type="number" data-ng-minlength=8 ng-disabled="!involucrado.involved.natural.identifier_type" required>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Dirección de residencia</label>
                            <input ng-model="involucrado.involved.address" type="text" required>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Estrato</label>
                            <md-select ng-model="involucrado.involved.natural.strata" required>
                                <md-option ng-repeat="c in estratos" value="{{c.value}}" requiered>
                                    {{c.value}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Nivel escolar: </label>
                            <md-select ng-model="involucrado.involved.natural.scholarly_level" required>
                                <md-option ng-repeat="c in level" value="{{c.value}}" requiered>
                                    {{c.value}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </fieldset>
                </div>
                <div ng-if="involucrado.involved.nature == 'juridico'">
                     <fieldset>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>NIT</label>
                            <input ng-model="involucrado.involved.juridical.nit" type="number" required>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Tipo de organización</label>
                            <md-select ng-model="involucrado.involved.juridical.organization_type" required>
                                <md-option ng-repeat="g in org_type" value="{{g.value}}" requiered>
                                    {{g.value}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Sector económico</label>
                            <md-select ng-model="involucrado.involved.juridical.economic_sector" required>
                                <md-option ng-repeat="g in economic_sector" value="{{g.value}}" requiered>
                                    {{g.value}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Nombre</label>
                            <input ng-model="involucrado.involved.juridical.name" type="text" required>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Dirección judicial</label>
                            <input ng-model="involucrado.involved.address" type="text" required>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>País de origen</label>
                            <md-select ng-model="involucrado.involved.juridical.origin_country" required>
                                <md-option ng-repeat="g in countries" value="{{g.value}}" requiered>
                                    {{g.value}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>E-mail</label>
                            <input data-ng-model="involucrado.involved.email" type="email" required>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Teléfono de contacto</label>
                            <input ng-model="involucrado.involved.phone" data-ng-minlength=7 type="number" required>
                        </md-input-container>
                     </fieldset>
                </div>
                <div ng-if="involucrado.involved.nature != ''">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Departamento</label>
                        <md-select ng-model="involucrado.involved.department" required>
                            <md-option ng-repeat="g in departments" value="{{g.value}}" requiered>
                                {{g.value}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Ciudad</label>
                        <md-select ng-model="involucrado.involved.city" required>
                            <md-option ng-repeat="g in cities" value="{{g.value}}" requiered>
                                {{g.value}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </div>
        </form>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button class="md-raised btn-w-md" ng-click="cancel()">Cancelar</md-button>
        <md-button class="md-raised btn-w-md md-primary" ng-click="save('Exito')" ng-disabled="!convocanteForm.$valid">{{getButtonLable()}}</md-button>  
    </md-dialog-actions>
</div>