<div class="modal_form">
    <md-dialog-content>
	    <form name="appForm">
	    <h2>Apoderado</h2>
		    <md-input-container class="md-block" flex-gt-sm>
		        <label>Universidad</label>
		        <input data-ng-model="study.university" type="text" required>
		    </md-input-container>
		    <md-input-container class="md-block" flex-gt-sm>
		        <label>Nivel de estudio</label>
		        <input data-ng-model="study.level" type="text">
		    </md-input-container>
		    <md-input-container class="md-block" flex-gt-sm>
		        <label>Titulo</label>
		        <input data-ng-model="study.title" type="text" required>
		    </md-input-container>
		</form>
	</md-dialog-content>
	<md-dialog-actions>
        <md-button class="md-raised btn-w-md" ng-click="cancel()">Cancelar</md-button>
        <md-button class="md-raised btn-w-md md-primary" ng-click="save('Exito')" ng-disabled="!appForm.$valid">Agregar</md-button>  
    </md-dialog-actions>
</div> 