<md-toolbar>
  <div class="md-toolbar-tools scio-bar">
    <h2>Hechos</h2>
    <span flex></span>
    <md-button class="md-icon-button" ng-click="cancel()">
      <md-icon class="material-icons">close</md-icon>
    </md-button>
  </div>
</md-toolbar>
<md-dialog-content class="modal_form">
    <div class="ui-wizard-content">
        <form name="hechoForm">
            <md-input-container class="md-block">
                <label>Describa el hecho</label>
                <textarea ng-model="hecho_pretension.description" rows="10" md-select-on-focus required=""></textarea>
            </md-input-container>
        </form>
    </div>
    <h3>Locación de los hechos</h3>
    <div layout-gt-xs="row" class="layout-gt-xs-row">
        <md-input-container class="flex-gt-xs" flex-gt-xs>
            <label>Departamento</label>
            <md-select ng-model="hecho_pretension.department" ng-change="factCity()" required>
                <md-option ng-repeat="g in departments" value="{{g.value}}" requiered>
                    {{g.value}}
                </md-option>
            </md-select>
        </md-input-container>
        <md-input-container class="flex-gt-xs" flex-gt-xs>
            <label>Ciudad</label>
            <md-select ng-model="hecho_pretension.city" required>
                <md-option ng-repeat="g in cities" value="{{g.value}}" requiered>
                    {{g.value}}
                </md-option>
            </md-select>
        </md-input-container>
    </div>
</md-dialog-content>
<md-dialog-actions>
    <md-button class="md-raised btn-w-md" ng-click="cancel()">Cancelar</md-button>
    <md-button class="md-raised btn-w-md md-primary" ng-click="save('Exito')" ng-disabled="!hechoForm.$valid">{{getButtonLable()}}</md-button>  
</md-dialog-actions>