    <md-toolbar>
      <div class="md-toolbar-tools scio-bar">
        <h2>Representante</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon class="material-icons">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content class="modal_form">
	    <form name="appForm">
	    	<div layout-gt-xs="row" class="layout-gt-xs-row">
			    <md-input-container class="flex-gt-xs" flex-gt-xs>
			        <label>Primer nombre</label>
			        <input data-ng-model="involucrado.involved.representative.first_name" type="text" required>
			    </md-input-container>
			    <md-input-container class="flex-gt-xs" flex-gt-xs>
			        <label>Segundo nombre</label>
			        <input data-ng-model="involucrado.involved.representative.second_name" type="text">
			    </md-input-container>
			</div>
			<div layout-gt-xs="row" class="layout-gt-xs-row">
			    <md-input-container class="flex-gt-xs" flex-gt-xs>
			        <label>Primer apellido</label>
			        <input data-ng-model="involucrado.involved.representative.first_lastname" type="text" required>
			    </md-input-container>
			    <md-input-container class="flex-gt-xs" flex-gt-xs>
			        <label>Segundo apellido</label>
			        <input data-ng-model="involucrado.involved.representative.second_lastname" type="text" required="">
			    </md-input-container>
			</div>
			<div layout-gt-xs="row" class="layout-gt-xs-row">
			    <md-input-container class="flex-gt-xs" flex-gt-xs>
	                <label>E-mail</label>
	                <input data-ng-model="involucrado.involved.representative.email" type="email" required>
	            </md-input-container>
			    <md-input-container class="flex-gt-xs" flex-gt-xs>
			        <label>Tipo de documento</label>
			        <md-select ng-model="involucrado.involved.representative.identifier_type" required>
			            <md-option ng-repeat="type in idType" value="{{type.value}}" requiered>
			                {{type.value}}
			            </md-option>
			        </md-select>
			    </md-input-container>
			</div>
			<div layout-gt-xs="row" class="layout-gt-xs-row">
			    <md-input-container class="flex-gt-xs" flex-gt-xs>
			        <label>Número de identificación</label>
			        <input input-num ng-model="involucrado.involved.representative.identifier" type="number" data-ng-minlength=3 ng-disabled="!involucrado.involved.representative.identifier_type" required>
			    </md-input-container>
			    <md-input-container class="flex-gt-xs" flex-gt-xs>
			        <label>Teléfono de contacto</label>
			        <input ng-model="involucrado.involved.representative.telephone" data-ng-minlength=7 type="number" required>
			    </md-input-container>
			</div>
			<div layout-gt-xs="row" class="layout-gt-xs-row">
			    <md-input-container class="flex-gt-xs" flex-gt-xs>
			        <label>Celular de contacto</label>
			        <input ng-model="involucrado.involved.representative.cellphone" data-ng-minlength=7 type="number" required>
			    </md-input-container>
			    <md-input-container class="flex-gt-xs" flex-gt-xs>
			        <label>Dirección de residencia</label>
			        <input ng-model="involucrado.involved.representative.address" type="text" required>
			    </md-input-container>
			</div>
			<div layout-gt-xs="row" class="layout-gt-xs-row">
			    <md-input-container class="flex-gt-xs" flex-gt-xs>
			        <label>País</label>
			        <md-select ng-model="involucrado.involved.representative.country" required>
			            <md-option ng-repeat="c in countries" value="{{c.value}}" requiered>
			                {{c.value}}
			            </md-option>
			        </md-select>
			    </md-input-container>
			    <md-input-container class="flex-gt-xs" flex-gt-xs>
			        <label>Departamento</label>
			        <md-select ng-model="involucrado.involved.representative.department" ng-change="getRepCities()" required>
			            <md-option ng-repeat="c in departments" value="{{c.value}}" requiered>
			                {{c.value}}
			            </md-option>
			        </md-select>
			    </md-input-container>
			</div>
			<div layout-gt-xs="row" class="layout-gt-xs-row">
			    <md-input-container class="flex-gt-xs" flex-gt-xs>
			        <label>Ciudad</label>
			        <md-select ng-model="involucrado.involved.representative.city" required>
			            <md-option ng-repeat="c in cities" value="{{c.value}}" requiered>
			                {{c.value}}
			            </md-option>
			        </md-select>
			    </md-input-container>
			</div>
		</form>
	</md-dialog-content>
	<md-dialog-actions>
        <md-button class="md-raised btn-w-md" ng-click="cancel()">Cancelar</md-button>
        <md-button class="md-raised btn-w-md md-primary" ng-click="save('Exito')" ng-disabled="!appForm.$valid">{{getButtonLable()}}</md-button>  
    </md-dialog-actions>
