<div class="modal_form">
    <md-dialog-content>
	    <form name="appForm">
	    <h2>Representante</h2>
		    <md-input-container class="md-block" flex-gt-sm>
		        <label>Primer nombre</label>
		        <input data-ng-model="involucrado.involved.representative.first_name" type="text" required>
		    </md-input-container>
		    <md-input-container class="md-block" flex-gt-sm>
		        <label>Segundo nombre</label>
		        <input data-ng-model="involucrado.involved.representative.second_name" type="text">
		    </md-input-container>
		    <md-input-container class="md-block" flex-gt-sm>
		        <label>Primer apellido</label>
		        <input data-ng-model="involucrado.involved.representative.first_lastname" type="text" required>
		    </md-input-container>
		    <md-input-container class="md-block" flex-gt-sm>
		        <label>Segundo apellido</label>
		        <input data-ng-model="involucrado.involved.representative.second_lastname" type="text">
		    </md-input-container>
		    <md-input-container class="md-block" flex-gt-sm>
                <label>E-mail</label>
                <input data-ng-model="involucrado.involved.representative.email" type="email" required>
            </md-input-container>
		    <md-input-container class="md-block" flex-gt-sm>
		        <label>Tipo de documento</label>
		        <md-select ng-model="involucrado.involved.representative.identifier_type" required>
		            <md-option ng-repeat="type in idType" value="{{type}}" requiered>
		                {{type}}
		            </md-option>
		        </md-select>
		    </md-input-container>
		    <md-input-container class="md-block" flex-gt-sm>
		        <label>Numero de identificación</label>
		        <input input-num ng-model="involucrado.involved.representative.identifier" type="number" data-ng-minlength=8 ng-disabled="!involucrado.involved.representative.identifier_type" required>
		    </md-input-container>
		    <md-input-container class="md-block" flex-gt-sm>
		        <label>Telefono de contacto</label>
		        <input ng-model="involucrado.involved.representative.telephone" data-ng-minlength=7 type="number" required>
		    </md-input-container>
		    <md-input-container class="md-block" flex-gt-sm>
		        <label>Celular de contacto</label>
		        <input ng-model="involucrado.involved.representative.cellphone" data-ng-minlength=7 type="number" required>
		    </md-input-container>
		    <md-input-container class="md-block" flex-gt-sm>
		        <label>Direccion de residencia</label>
		        <input ng-model="involucrado.involved.representative.address" type="text" required>
		    </md-input-container>
		    <md-input-container class="md-block" flex-gt-sm>
		        <label>Pais</label>
		        <md-select ng-model="involucrado.involved.representative.country" required>
		            <md-option ng-repeat="c in countries" value="{{c.value}}" requiered>
		                {{c.value}}
		            </md-option>
		        </md-select>
		    </md-input-container>
		    <md-input-container class="md-block" flex-gt-sm>
		        <label>Departamento</label>
		        <md-select ng-model="involucrado.involved.representative.department" ng-change="getAssigneeCity()" required>
		            <md-option ng-repeat="c in departments" value="{{c.value}}" requiered>
		                {{c.value}}
		            </md-option>
		        </md-select>
		    </md-input-container>
		    <md-input-container class="md-block" flex-gt-sm>
		        <label>Ciudad</label>
		        <md-select ng-model="involucrado.involved.representative.city" required>
		            <md-option ng-repeat="c in city" value="{{c.value}}" requiered>
		                {{c.value}}
		            </md-option>
		        </md-select>
		    </md-input-container>
		</form>
	</md-dialog-content>
	<md-dialog-actions>
        <md-button class="md-raised btn-w-md" ng-click="cancel()">Cancelar</md-button>
        <md-button class="md-raised btn-w-md md-primary" ng-click="save('Exito')" ng-disabled="!appForm.$valid">Agregar</md-button>  
    </md-dialog-actions>
</div> 