<section class="user-auth-body">
        <div ng-controller="loginCtrl" class="box box-default login">
            <form name="loginForm">
                <figure>
                    <img src="{{app.logo}}">
                </figure>
                <p class="error" ng-if="error">{{message}}</p>
                <fieldset>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Correo electrónico o identificación</label>
                            <input ng-model="user.email_or_identification_card" type="text" required>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Contraseña</label>
                            <input ng-model="user.password" type="password" ng-enter="login()" required>
                        </md-input-container>
                        <md-button class="md-raised btn-w-md md-primary" ng-click="login()" ng-disabled="!loginForm.$valid">Iniciar sesión</md-button>
                </fieldset>
            </form>
            <p>Ya tienes una cuenta?</p>
            <p><a href="#/registro" class="options">Crear cuenta</a></p>
        </div>
</section>