<section class="user-auth-body">
    <div class="box box-default signUp">
        <figure>
            <img src="{{app.logo}}">
        </figure>
        <h5>Este es el formulario de registro para poder acceder a los servicios prestados por Scio. La información suministrada debe ser veraz pues estos serán sus datos de contacto en cualquier proceso que se lleve a cabo.</h5>
        <h4 ng-if="error">Error datos invalidos, posiblemente el email ya este asociado a un usuario.</h4>
        <form name="signupForm" novalidate ng-submit="submitForm()">
            <div class="scrolleable-content-signup">
                <div data-slim-scroll data-scroll-height="auto">    
                    <fieldset>
                        <div layout-gt-xs="row" class="layout-gt-xs-row">
                            <md-input-container class="flex-gt-xs" flex-gt-xs>
                                <label>Nombre</label>
                                <input ng-model="user.name" type="text" required>
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row" class="layout-gt-xs-row">
                            <md-input-container class="flex-gt-xs" flex-gt-xs>
                                <label>Primer apellido</label>
                                <input ng-model="user.first_lastname" type="text" required>
                            </md-input-container>
                            <md-input-container class="flex-gt-xs" flex-gt-xs>
                                <label>Segundo apellido</label>
                                <input ng-model="user.second_lastname" type="text" required>
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row" class="layout-gt-xs-row">
                            <md-input-container class="flex-gt-xs" flex-gt-xs>
                                <label>Telefono de contacto</label>
                                <input ng-model="user.phone" data-ng-minlength=7 type="number" required>
                            </md-input-container>
                            <md-input-container class="flex-gt-xs" flex-gt-xs>
                                <label>E-mail</label>
                                <input ng-model="user.email" type="email" required>
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row" class="layout-gt-xs-row">
                            <md-input-container class="flex-gt-xs" flex-gt-xs>
                                <label>Contraseña</label>
                                <input ng-model="user.password" name="pass" type="password" required>
                            </md-input-container>
                            <md-input-container class="flex-gt-xs" flex-gt-xs>
                                <label>Verifique su contraseña</label>
                                <input ng-model="user.password_c" data-match="signupForm.pass" type="password" required>
                            </md-input-container>
                        </div>
                        <md-checkbox ng-model="lawyer" aria-label="Es abogado">Es usted abogado?</md-checkbox>
                        <div ng-if="lawyer">
                            <div layout-gt-xs="row" class="layout-gt-xs-row">
                                <md-input-container class="flex-gt-xs" flex-gt-xs>
                                    <label>Numero de tarjeta profesional</label>
                                    <input ng-model="user.professional_card" type="number" required>
                                </md-input-container>
                            </div>
                        </div>
                        <br>
                    </fieldset>
                </div>
            </div>
            <md-button type="submit" ui-wave class="md-raised btn-w-md md-primary" data-ng-disabled="!canSubmit()">Registrarse</md-button>
        </form>
    </div>
</section>