<div class="box box-default signUp">

    <figure>
        <img src="{{app.logo}}">
    </figure>
    <h5>Este es el formulario de registro para poder acceder a los servicios prestados por Scio. La información suministrada debe ser veraz pues estos serán sus datos de contacto en cualquier proceso que se lleve a cabo.</h5>

    <h4 ng-if="error">Error datos invalidos, posiblemente el email ya este asociado a un usuario.</h4>

<form name="signupForm" novalidate ng-submit="submitForm()">
    <fieldset>
        <div layout-gt-xs="row" class="layout-gt-xs-row">
            <md-input-container class="flex-gt-xs" flex-gt-xs>
                <label>Nombre</label>
                <input ng-model="user.name" type="text" required>
            </md-input-container>
        </div>
        <div layout-gt-xs="row" class="layout-gt-xs-row">
            <md-input-container class="flex-gt-xs" flex-gt-xs>
                <label>Primer apellido</label>
                <input ng-model="user.first_lastname" type="text" required>
            </md-input-container>
            <md-input-container class="flex-gt-xs" flex-gt-xs>
                <label>Segundo apellido</label>
                <input ng-model="user.second_lastname" type="text" required>
            </md-input-container>
        </div>
        <div layout-gt-xs="row" class="layout-gt-xs-row">
            <md-input-container class="flex-gt-xs" flex-gt-xs>
                <label>Telefono de contacto</label>
                <input ng-model="user.phone" data-ng-minlength=7 type="number" required>
            </md-input-container>
            <md-input-container class="flex-gt-xs" flex-gt-xs>
                <label>E-mail</label>
                <input ng-model="user.email" type="email" required>
            </md-input-container>
        </div>
        <div layout-gt-xs="row" class="layout-gt-xs-row">
            <md-input-container class="flex-gt-xs" flex-gt-xs>
                <label>Contraseña</label>
                <input ng-model="user.password" name="pass" type="password" required>
            </md-input-container>
            <md-input-container class="flex-gt-xs" flex-gt-xs>
                <label>Verifique su contraseña</label>
                <input ng-model="user.password_c" data-match="signupForm.pass" type="password" required>
            </md-input-container>
        </div>
        
 <!--        <md-input-container class="flex-gt-xs" flex-gt-xs>
            <label>Tipo de documento</label>
            <md-select ng-model="user.id_type" required>
                <md-option ng-repeat="type in idType" value="{{type}}" requiered>
                    {{type}}
                </md-option>
            </md-select>
        </md-input-container>
        <md-input-container class="flex-gt-xs" flex-gt-xs>
            <label>Numero de identificación</label>
            <input ng-model="user.id_number" type="number" data-ng-minlength=8 ng-disabled="!user.id_type" required>
        </md-input-container>
        <p>Fecha de expedición</p>
        <md-datepicker ng-model="user.id_expedition_date" md-placeholder="Fecha de expedición" required></md-datepicker>
        <md-input-container class="flex-gt-xs" flex-gt-xs>
            <label>Departamento de expedicion</label>
            <md-select ng-model="department" required>
                <md-option ng-repeat="(department, cities) in departments" value="{{department}}">{{department}}</md-option>
            </md-select>
        </md-input-container>
        <md-input-container class="flex-gt-xs" flex-gt-xs>
            <label>Ciudad de expedicion</label>
            <md-select ng-model="user.id_expedition_city" ng-disabled="!department" required>
                <md-option ng-repeat="city in departments[department]" value="{{city}}">{{city}}</md-option>
            </md-select>
        </md-input-container>
        <md-input-container class="flex-gt-xs" flex-gt-xs>
            <label>Genero</label>
            <md-select ng-model="user.gender" required>
                <md-option ng-repeat="g in gender" value="{{g}}">
                    {{g}}
                </md-option>
            </md-select>
        </md-input-container>
        <md-input-container class="flex-gt-xs" flex-gt-xs>
            <label>Departamento de residencia</label>
            <md-select ng-model="user.resident_department" required>
                <md-option ng-repeat="(department, cities) in departments" value="{{department}}">{{department}}</md-option>
            </md-select>
        </md-input-container>
        <md-input-container class="flex-gt-xs" flex-gt-xs>
            <label>Ciudad de residencia</label>
            <md-select ng-model="user.resident_city" required>
                <md-option ng-repeat="city in departments[user.resident_department]" ng-disabled="!user.resident_department" value="{{city}}">{{city}}</md-option>
            </md-select>
        </md-input-container>
        <md-input-container class="flex-gt-xs" flex-gt-xs>
            <label>Direccion de residencia</label>
            <input ng-model="user.direccion" type="text" required>
        </md-input-container>
        <md-input-container class="flex-gt-xs" flex-gt-xs>
            <label>Estrato de residencia</label>
            <input ng-model="user.estrato" type="number" data-min=1 data-max=6 required>
        </md-input-container> -->
        <md-checkbox ng-model="lawyer" aria-label="Es abogado">Es usted abogado?</md-checkbox>
        <div ng-if="lawyer">
            <div layout-gt-xs="row" class="layout-gt-xs-row">
                <md-input-container class="flex-gt-xs" flex-gt-xs>
                    <label>Numero de tarjeta profesional</label>
                    <input ng-model="user.professional_card" type="number" required>
                </md-input-container>
            </div>
            <!-- <md-input-container class="full-width">
                <label>Años de experiencia</label>
                <md-select ng-model="user.experience_years" aria-label="select" required>
                    <md-option ng-repeat="n in numbers" value="{{n}}"> {{n}} </md-option>
                </md-select>
            </md-input-container>
            <md-input-container class="flex-gt-xs" flex-gt-xs>
                <label>Nombre de la universidad en la que se graduo</label>
                <input ng-model="user.univercity_name" type="text" required>
            </md-input-container>
            <md-input-container class="flex-gt-xs" flex-gt-xs>
                <label>Titulo universitario</label>
                <input ng-model="user.univercity_title" type="text" required>
            </md-input-container>
            <md-input-container class="full-width">
                <label>Ultimo nivel de estudio</label>
                <md-select ng-model="user.study_level" aria-label="select" required>
                    <md-option ng-repeat="l in level" value="{{l}}"> {{l}} </md-option>
                </md-select>
            </md-input-container> -->
        </div>
        <br>
        <md-button type="submit"
        ui-wave
        class="md-raised btn-w-md md-primary"
        data-ng-disabled="!canSubmit()"
        >Registrarse</button>
    </fieldset>
</form>
</div>