<div class="page-auth">
    <div class="main-body">
        <div class="card bg-white" ng-controller="MaterialResetCtrl">
            <div class="card-content">
                <div class="logo">
                    <a href="#/">Reset</a>
                </div>

                <form name="material_login_form" class="md-form-auth form-validation">
                    <fieldset>
                        <md-input-container class="md-block no-margin-bottom">
                            <label>Email</label>
                            <md-icon class="material-icons">mail_outline</md-icon>
                            <input required 
                                   type="email"
                                   name="email" 
                                   ng-model="user.email"
                                   ng-pattern="/^.+@.+\..+$/" />
                            <div ng-messages="material_login_form.email.$error" multiple ng-if='material_login_form.email.$dirty'>
                                <div ng-message="required">This is required.</div>
                                <div ng-message="pattern">It must be an e-mail address.</div>
                            </div>
                        </md-input-container>
                        <p class="text-center text-small no-margin">
                           Enter your email address that you used to register. We'll send you an email with your username and a link to reset your password.
                       </p>

                        <div class="divider divider-md"></div>
                        <md-button type="submit"
                                   href="#/"
                                   class="md-raised pull-right md-primary"
                                   data-ng-disabled="!canSubmit()">Rest</md-button>
                    </fieldset>
                </form>

                <div class="additional-info">
                    <a href="#/signin">Login</a>
                </div>
            </div>
        </div>
    </div>
</div>