<section class="container-fluid with-maxwidth chapter">

    <article class="article" ng-controller="RadioCtrl">
        <h2 class="article-title">Material Radio Button</h2>
        <div class="box box-default">
            <div class="box-header">Basic Usage</div>
            <div class="box-body">
                <p>
                    <strong style="display: inline-block; width: 100px;">Radio buttons</strong>
                    <md-radio-group class="ui-md-radio-group-inline" ng-model="radio.group1">
                        <md-radio-button value="Apple">Apple</md-radio-button>
                        <md-radio-button value="Banana">Banana</md-radio-button>
                        <md-radio-button value="Mango">Mango</md-radio-button>
                    </md-radio-group>                                    
                </p>

                <p>
                    <strong style="display: inline-block; width: 100px;">Disabled</strong>
                    <md-radio-group class="ui-md-radio-group-inline" ng-model="radio.group2">
                        <md-radio-button ng-repeat="d in radioData" ng-value="d.value" ng-disabled=" d.isDisabled "> {{ d.label }} </md-radio-button>
                    </md-radio-group>                                
                </p>

                <p>
                    <strong style="display: inline-block; width: 100px;">Colors</strong>
                    <md-radio-group class="ui-md-radio-group-inline" ng-model="radio.group3">
                        <md-radio-button value="Default">Default</md-radio-button>
                        <md-radio-button class="md-primary" value="Primary">Primary</md-radio-button>
                        <md-radio-button class="md-warn" value="Warn">Warn</md-radio-button>
                    </md-radio-group>                                
                </p>
            </div>
        </div>
        <div class="box box-default" ng-controller="RadioCtrl">
            <div class="box-header">Multi Column</div>
            <div class="box-body">
                <div class="radioButtondemoMultiColumn">
                    <md-divider ></md-divider>
                    <md-radio-group ng-model="selectedIndex" >
                        <div ng-repeat='person in contacts' class="row">
                            <div flex layout='row' layout-padding layout-align="start center" >
                                <div flex style="max-width:200px;">
                                    {{person.title}}
                                </div>
                                <md-radio-button flex
                                        ng-value="person.id"
                                        class="md-primary"
                                        style="margin-top: 16px;" >
                                    {{person.fullName}}
                                </md-radio-button>
                            </div>
                        </div>
                    </md-radio-group>
                    <md-divider></md-divider>

                    <div class="callout callout-info">
                        <span> Selected User</span>: <span class="md-checked">{{selectedUser()}} </span>
                    </div>
                </div>

            </div>
        </div>
    </article>

</section>