<section class="container-fluid with-maxwidth chapter">

    <article class="article" data-ng-controller="SelectCtrl as ctrl">
        <h2 class="article-title">Material Select</h2>

        <div class="row">
            <div class="col-lg-6">
                <section class="box box-default">
                    <div class="box-header">Basic</div>
                    <div class="box-body">
                        <md-input-container class="full-width">
                            <label>States</label>
                            <md-select ng-model="ctrl.userState" aria-label="select">
                                <md-option ng-repeat="state in ctrl.states" value="{{state.abbrev}}"> {{state.abbrev}} </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                </section>                    
            </div>
            <div class="col-lg-6">
                <section class="box box-default">
                    <div class="box-header">Option Groups</div>
                    <div class="box-body">
                        <md-input-container class="full-width">
                            <label>Topping</label>
                            <md-select ng-model="selectedToppings" multiple>
                                <md-optgroup label="Meats">
                                    <md-option ng-value="topping.name" ng-repeat="topping in toppings | filter: {category: 'meat' }">{{topping.name}}</md-option>
                                </md-optgroup>
                                <md-optgroup label="Veggies">
                                    <md-option ng-value="topping.name" ng-repeat="topping in toppings | filter: {category: 'veg' }">{{topping.name}}</md-option>
                                </md-optgroup>
                            </md-select>
                        </md-input-container>
                    </div>
                </section>  
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <section class="box box-default">
                    <div class="box-header">Select Header </div>
                    <div class="box-body">
                        <md-input-container class="full-width">
                            <label>Vegetables</label>
                            <md-select ng-model="selectedVegetables"
                                                 md-on-close="clearSearchTerm()"
                                                 data-md-container-class="md-select-header"
                                                 multiple>
                                <md-select-header class="select-header">
                                    <input ng-model="searchTerm"
                                                 type="search"
                                                 placeholder="Search for a vegetable.."
                                                 class="header-searchbox _md-text">
                                </md-select-header>
                                <md-optgroup label="vegetables">
                                    <md-option ng-value="vegetable" ng-repeat="vegetable in vegetables |
                                        filter:searchTerm">{{vegetable}}</md-option>
                                </md-optgroup>
                            </md-select>
                        </md-input-container>
                    </div>
                </section>                    
            </div>
            <div class="col-lg-6">
                <section class="box box-default">
                    <div class="box-header">Selected Text</div>
                    <div class="box-body">
                        <md-input-container class="full-width">
                            <label>Items</label>
                            <md-select ng-model="selectedItem" md-selected-text="getSelectedText()">
                                <md-optgroup label="items">
                                    <md-option ng-value="item" ng-repeat="item in items">Item {{item}}</md-option>
                                </md-optgroup>
                            </md-select>
                        </md-input-container>
                    </div>
                </section>
            </div>
        </div>

    </article>

</section>


